<div class="page-header">
    <h1 class="page-title">推广人员报告</h1>
</div>
<!--<jhi-alert></jhi-alert>-->
<jhi-alert-error></jhi-alert-error>

<uib-tabset>
    <uib-tab heading="查询报告-按年月">
        <div class="panel">
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="col-sm-3 control-label">年份</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="vm.searchCondition.yearObject"
                                        ng-options="year as year.id for year in vm.years">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="col-sm-3 control-label">月份</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="vm.searchCondition.monthObject"
                                        ng-options="month as month.id for month in vm.months">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 form-group">

                            <button class="btn btn-primary btn-block" type="button" ng-click="vm.loadReferReport('monthly')"><i
                                    class="fa fa-search-minus"></i>查询
                            </button>

                        </div>
                        <div class="col-md-2 form-group">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </uib-tab>
    <uib-tab heading="查询报告-按日期范围">
        <div class="panel">
            <form class="form-horizontal">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="col-sm-3 control-label">开始日期</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="开始时间" class="form-control"
                                       ng-focus="vm.openCalendar('startDate')" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"
                                       ng-model="vm.searchCondition.startDate"
                                       is-open="vm.datePickerOpenStatus.startDate">
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="col-sm-3 control-label">结束日期</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="结束时间" class="form-control"
                                       ng-focus="vm.openCalendar('endDate')" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"
                                       ng-model="vm.searchCondition.endDate"
                                       is-open="vm.datePickerOpenStatus.endDate">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 form-group">

                            <button class="btn btn-primary btn-block" type="button" ng-click="vm.loadReferReport('dateRange')">
                                <i
                                        class="fa fa-search-minus"></i>查询
                            </button>

                        </div>
                        <div class="col-md-2 form-group">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </uib-tab>

</uib-tabset>

<div class="panel">

    <h3 class="panel-title">推广人员报告概览列表</h3>

    <div class="panel-body">

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> </th>-->
                    <th><span>PWI/引入人员</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.ageTooSmallCount">Age Too Small Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.errorInformation">Error Information</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.noWillingCount">No Willing Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.consideringCount">Considering Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.scheduledCount">Scheduled Count</span>
                    </th>
                    <th><span>已到访</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.dealedCount">Dealed Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.newCreatedCount">New Created Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.totalCount">Total Count</span>
                    </th>
                    <th><span
                            data-translate="simpleServiceApp.customerStatusReportDtl.finishRate">Finish Rate</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customerStatusReportDtl in vm.referCustomerStatusReportDtls track by $index">
                    <td>{{customerStatusReportDtl.location || '未知人员'}}</td>
                    <td>{{customerStatusReportDtl.ageTooSmallCount}}</td>
                    <td>{{customerStatusReportDtl.errorInformation}}</td>
                    <td>{{customerStatusReportDtl.noWillingCount}}</td>
                    <td>{{customerStatusReportDtl.consideringCount}}</td>
                    <td>{{customerStatusReportDtl.scheduledCount}}</td>
                    <td>{{customerStatusReportDtl.visitedCount}}</td>
                    <td>{{customerStatusReportDtl.dealedCount}}</td>
                    <td>{{customerStatusReportDtl.newCreatedCount}}</td>
                    <td>{{customerStatusReportDtl.totalCount}}</td>
                    <td>{{customerStatusReportDtl.finishRate}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>