<div class="page-header">
    <h1 class="page-title"></h1>
</div>

<div class="panel panel-primary panel-bordered-dark">

    <div class="panel-heading">
        <h3 class="panel-title">查询客户到访记录</h3>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" name="customerName" placeholder="客户姓名" class="form-control"
                               ng-model="vm.searchCondition.customerName">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="contactPhoneNumber" placeholder="联系电话" class="form-control"
                               ng-model="vm.searchCondition.contactPhoneNumber">
                    </div>

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" name="startDate" placeholder="预约开始时间" class="form-control"
                           ng-focus="vm.openCalendar('startDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.startDate"
                           is-open="vm.datePickerOpenStatus.startDate">

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" placeholder="预约结束时间" class="form-control"
                           ng-focus="vm.openCalendar('endDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.endDate" is-open="vm.datePickerOpenStatus.endDate">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-block" type="button" ng-click="pagination.currentPageNumber = 1; vm.loadAll()"><i
                            class="fa fa-search-minus"></i>查询
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-mint btn-block" type="button" ng-click="vm.clearConditions()"><i
                            class="fa fa-trash"></i>清除
                    </button>
                </div>

            </div>

            <!-- Second line -->
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">来源渠道</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.channel" placeholder="来源渠道">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.channels | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">
                        <label class="col-sm-3 control-label">地推人员</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.pwi" placeholder="PWI">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (vm.pwis | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <input type="text" name="startDate" placeholder="实际到访开始时间" class="form-control"
                           ng-focus="vm.openCalendar('actualStartDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.actualStartDate"
                           is-open="vm.datePickerOpenStatus.actualStartDate">

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" placeholder="实际到访结束时间" class="form-control"
                           ng-focus="vm.openCalendar('actualEndDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.actualEndDate" is-open="vm.datePickerOpenStatus.actualEndDate">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-info btn-block" type="button"
                            ui-sref="customer-communication-schedule.new-order"><i class="fa fa-plus"></i>新增
                    </button>
                </div>
            </div>

            <!-- 3rd-->
            <div class="row">
                <div class="col-md-3 form-group">

                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">

                        <label class="col-sm-3 control-label">销售主管</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.tmk">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (vm.sales | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">
                        <label class="col-sm-3 control-label">课程顾问</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.courseConsultant">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (vm.consultants | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="text-5x text-center well well-lg"
     ng-if="!vm.customerCommunicationSchedules || vm.customerCommunicationSchedules.length == 0">

    无数据
</div>
<jhi-alert></jhi-alert>

<div class="panel" ng-if="vm.customerCommunicationSchedules.length > 0">

    <div class="pad-all">
        <div class="row">

            <div class="col-xs-4" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">
                <div class="input-group mar-btm">
                    <ui-select ng-model="vm.selectedUser" placeholder="输入目标用户姓名搜索">
                        <ui-select-match>
                            {{$select.selected.firstName}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (vm.consultants | filter: $select.search) track by item.id">
                            <span ng-bind="item.firstName"></span><span class="pull-right" ng-bind="item.login"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!--<input type="text" placeholder="输入目标用户姓名搜索" class="form-control">-->
                    <span class="input-group-btn">
					          <button class="btn btn-primary" type="button"
                                      ng-click="vm.batchAssignNewOrder()">分配给该课程顾问</button>
					    </span>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="panel-heading pad-all" style="height: 5em">-->

    <!--<div class="panel-control">-->

    <!--<button class="btn btn-info" ui-sref="customer-schedule-status" has-authority="ROLE_ADMIN">-->
    <!--<span class="glyphicon glyphicon-signal"></span>-->
    <!--<span data-translate="global.menu.entities.customerScheduleStatus">Customer Schedule Status</span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

    <div class="panel-body">


        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center"><input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()">全选
                    </th>
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.customer">Customer</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th>
                        性别
                    </th>
                    <th>
                        联系方式
                    </th>
                    <th>
                        来源渠道
                    </th>
                    <!--<th jh-sort-by="scheduleStatus.name">-->
                    <!--<span data-translate="simpleServiceApp.customerCommunicationSchedule.scheduleStatus">Schedule Status</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span>-->
                    <!--</th>-->
                    <th jh-sort-by="sceduleDate"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.sceduleDate">Scedule Date</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="actuallMeetDate"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.actuallMeetDate">Actual Meet Date</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="createdDate"><span>录入时间</span>
                    <th jh-sort-by="createdDate"><span>课程顾问</span>
                    <th jh-sort-by="createdDate"><span>户外推广人员</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="comments"><span-->
                    <!--data-translate="simpleServiceApp.customerCommunicationSchedule.comments">Comments</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="createdBy"><span-->
                    <!--data-translate="simpleServiceApp.customerCommunicationSchedule.createdBy">Created By</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->

                    <!--<th jh-sort-by="lastModifiedBy"><span-->
                    <!--data-translate="simpleServiceApp.customerCommunicationSchedule.lastModifiedBy">Last Modified By</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span-->
                    <!--data-translate="simpleServiceApp.customerCommunicationSchedule.lastModifiedDate">Last Modified Date</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->

                    <th jh-sort-by="follower.login"><span>跟单人</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customerCommunicationSchedule in vm.customerCommunicationSchedules track by customerCommunicationSchedule.id"
                    ng-class="customerCommunicationSchedule.selected? 'bg-info': ''">
                    <td class="text-center"><input type="checkbox" ng-model="customerCommunicationSchedule.selected">
                    </td>
                    </td>
                    <td><a ui-sref="customer-communication-schedule-detail({id:customerCommunicationSchedule.id})">{{customerCommunicationSchedule.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer-detail({id:customerCommunicationSchedule.customer.id})">{{customerCommunicationSchedule.customer.name}}</a>
                    </td>
                    <td>
                        {{customerCommunicationSchedule.customer.sex}}
                    </td>
                    <td>
                        {{customerCommunicationSchedule.customer.contactPhoneNumber}}
                    </td>
                    <td>{{customerCommunicationSchedule.customer.channel.name}}</td>
                    <!--<td><span class="{{customerCommunicationSchedule.scheduleStatus.labelStyle}}">{{customerCommunicationSchedule.scheduleStatus.name}}</span></td>-->
                    <td>{{customerCommunicationSchedule.sceduleDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{customerCommunicationSchedule.actuallMeetDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{customerCommunicationSchedule.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>

                    <!--<td>{{customerCommunicationSchedule.comments}}</td>-->
                    <!--<td>{{customerCommunicationSchedule.createdBy}}</td>-->
                    <!--<td>{{customerCommunicationSchedule.lastModifiedBy}}</td>-->
                    <!--<td>{{customerCommunicationSchedule.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>-->
                    <td>
                        {{customerCommunicationSchedule.customer.courseConsultant.firstName}}
                    </td>
                    <td>
                        {{customerCommunicationSchedule.customer.newOrder.referer.firstName}}
                    </td>

                    <td>
                        {{customerCommunicationSchedule.customer.salesFollower.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer.signin({cid:customerCommunicationSchedule.id})"
                                    class="btn btn-mint btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down">签到</span>
                            </button>
                            <!--<button type="submit"-->
                            <!--ui-sref="customer-communication-schedule-detail({id:customerCommunicationSchedule.id})"-->
                            <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                            <!--ui-sref="customer-communication-schedule.edit({id:customerCommunicationSchedule.id})"-->
                            <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                            <!--ui-sref="customer-communication-schedule.delete({id:customerCommunicationSchedule.id})"-->
                            <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="pagination.currentPageNumber" total="pagination.totalItems" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="pagination.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="pagination.currentPageNumber" ng-change="vm.loadAll()"></uib-pagination>
        </div>
    </div>
</div>
