<div class="page-header">
        <h1 class="page-title" data-translate="simpleServiceApp.customerCommunicationSchedule.home.title">Customer Communication Schedules</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="pad-all btn-group ">
                            <button type="button" class="btn btn-sm {{st.labelStyle}}" ng-repeat="st in vm.customerschedulestatuses track by st.id" ng-click="vm.searchCondition.statusId = st.id; vm.loadAll()">{{st.name}}</button>
                            <button type="button" class="btn btn-sm btn-dark" ng-click="vm.searchCondition.statusId = null; vm.loadAll()">全部状态</button>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <form class="form-inline">
                            预约时间从
                            <div class="form-group">
                                <input type="text" name="startDate" placeholder="开始时间" class="form-control" ng-focus="vm.openCalendar('startDate')" datetime-picker="{{dateformat}}" ng-model="vm.searchCondition.startDate" is-open="vm.datePickerOpenStatus.startDate">
                            </div>
                            到
                            <div class="form-group">
                                <input type="text" placeholder="结束时间" class="form-control" ng-focus="vm.openCalendar('endDate')" datetime-picker="{{dateformat}}" ng-model="vm.searchCondition.endDate" is-open="vm.datePickerOpenStatus.endDate">
                            </div>

                            <button class="btn btn-primary" type="button" ng-click="vm.loadAll()"><i class="fa fa-search-minus"></i>查询</button>
                            <button class="btn btn-mint" type="button" ng-click="vm.clearConditions()"><i class="fa fa-trash"></i>清除条件</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--<div class="col-md-1">-->
        <!--<div class="panel panel-dark panel-colorful">-->
            <!--<div class="pad-all text-center">-->
                <!--<span class="text-3x text-thin">{{vm.queryCount}}</span>-->
                <!--<p>预约</p>-->
                <!--&lt;!&ndash;<i class="fa fa-people-carry icon-lg"></i>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>


<div class="panel">

    <div class="panel-heading pad-all" style="height: 5em">

        <div class="panel-control">

            <button class="btn btn-info" ui-sref="customer-schedule-status" has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-signal"></span>
                <span data-translate="global.menu.entities.customerScheduleStatus">Customer Schedule Status</span>
            </button>
        </div>
    </div>

    <div class="panel-body">

        <jhi-alert></jhi-alert>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.customer">Customer</span>
                        <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="scheduleStatus.name">
                        <span data-translate="simpleServiceApp.customerCommunicationSchedule.scheduleStatus">Schedule Status</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="sceduleDate"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.sceduleDate">Scedule Date</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="actuallMeetDate"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.actuallMeetDate">Actual Meet Date</span>
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="createdDate"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.comments">Comments</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.createdBy">Created By</span>
                        <span class="glyphicon glyphicon-sort"></span></th>

                    <!--<th jh-sort-by="lastModifiedBy"><span-->
                            <!--data-translate="simpleServiceApp.customerCommunicationSchedule.lastModifiedBy">Last Modified By</span>-->
                        <!--<span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span-->
                            <!--data-translate="simpleServiceApp.customerCommunicationSchedule.lastModifiedDate">Last Modified Date</span>-->
                        <!--<span class="glyphicon glyphicon-sort"></span></th>-->

                    <th jh-sort-by="follower.login"><span
                            data-translate="simpleServiceApp.customerCommunicationSchedule.follower">Follower</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customerCommunicationSchedule in vm.customerCommunicationSchedules track by customerCommunicationSchedule.id">
                    <td><a ui-sref="customer-communication-schedule-detail({id:customerCommunicationSchedule.id})">{{customerCommunicationSchedule.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer-detail({id:customerCommunicationSchedule.customer.id})">{{customerCommunicationSchedule.customer.name}}</a>
                    </td>
                    <td><span class="{{customerCommunicationSchedule.scheduleStatus.labelStyle}}">{{customerCommunicationSchedule.scheduleStatus.name}}</span></td>
                    <td>{{customerCommunicationSchedule.sceduleDate | date:'medium'}}</td>
                    <td>{{customerCommunicationSchedule.actuallMeetDate | date:'medium'}}</td>
                    <td>{{customerCommunicationSchedule.createdDate | date:'medium'}}</td>

                    <td>{{customerCommunicationSchedule.comments}}</td>
                    <td>{{customerCommunicationSchedule.createdBy}}</td>
                    <!--<td>{{customerCommunicationSchedule.lastModifiedBy}}</td>-->
                    <!--<td>{{customerCommunicationSchedule.lastModifiedDate | date:'medium'}}</td>-->

                    <td>
                        {{customerCommunicationSchedule.follower.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer.signin({id:customerCommunicationSchedule.id})"
                                    class="btn btn-mint btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down">签到</span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-communication-schedule-detail({id:customerCommunicationSchedule.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-communication-schedule.edit({id:customerCommunicationSchedule.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-communication-schedule.delete({id:customerCommunicationSchedule.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
