
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerCommunicationScheduleLabel">管理客户预约记录</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.customerCommunicationSchedule.customer">Customer</label>
                    <!--<select class="form-control" id="field_customer" name="customer" ng-model="vm.customerCommunicationSchedule.customer" ng-options="customer as customer.name for customer in vm.customers track by customer.id">-->
                        <!--<option value=""></option>-->
                    <!--</select>-->

                    <ui-select ng-model="vm.customerCommunicationSchedule.customer">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices refresh="vm.searchPersonWithKeyword($select.search)" repeat="item in (vm.customers | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span><span class="pull-right" ng-bind="item.contactPhoneNumber"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customerCommunicationSchedule.sceduleDate" for="field_sceduleDate">Scedule Date</label>
                    <div class="input-group">
                        <input id="field_sceduleDate" type="text" class="form-control" name="sceduleDate" ng-focus="vm.openCalendar('sceduleDate')" datetime-picker="{{dateformat}}" ng-model="vm.customerCommunicationSchedule.sceduleDate" is-open="vm.datePickerOpenStatus.sceduleDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sceduleDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">


                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customerCommunicationSchedule.actuallMeetDate" for="field_actuallMeetDate">Actuall Meet Date</label>
                    <div class="input-group">
                        <input id="field_actuallMeetDate" type="text" class="form-control" ng-focus="vm.openCalendar('actuallMeetDate')" name="actuallMeetDate" datetime-picker="{{dateformat}}" ng-model="vm.customerCommunicationSchedule.actuallMeetDate" is-open="vm.datePickerOpenStatus.actuallMeetDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('actuallMeetDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customerCommunicationSchedule.comments" for="field_comments">Comments</label>
                    <textarea cols="6" type="text" class="form-control" name="comments" id="field_comments"
                           ng-model="vm.customerCommunicationSchedule.comments"
                    ></textarea>
                </div>
            </div>
        </div>


        <!--<div class="form-group">-->
            <!--<label data-translate="simpleServiceApp.customerCommunicationSchedule.follower" for="field_follower">Follower</label>-->
            <!--<select class="form-control" id="field_follower" name="follower" ng-model="vm.customerCommunicationSchedule.follower" ng-options="user as user.login for user in vm.users track by user.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="form-group">
            <label data-translate="simpleServiceApp.customerCommunicationSchedule.scheduleStatus" for="field_scheduleStatus">Schedule Status</label>
            <select class="form-control" id="field_scheduleStatus" name="scheduleStatus" ng-model="vm.customerCommunicationSchedule.scheduleStatus" ng-options="customerScheduleStatus as customerScheduleStatus.name for customerScheduleStatus in vm.customerschedulestatuses track by customerScheduleStatus.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
