<div class="page-header">
    <h1 class="page-title">应收</h1>
</div>
<jhi-alert></jhi-alert>
<div class="panel">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="collection.new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-translate="simpleServiceApp.collection.home.createLabel">
                        Create new Collection
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="financeCategory.name"><span
                        data-translate="simpleServiceApp.collection.financeCategory">Finance Category</span> <span
                        class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="status.name"><span>状态</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="moneyShouldCollected"><span
                        data-translate="simpleServiceApp.collection.moneyShouldCollected">Money Should Collected</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="moneyCollected"><span data-translate="simpleServiceApp.collection.moneyCollected">Money Collected</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="balance"><span data-translate="simpleServiceApp.collection.balance">Balance</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sequenceNumber"><span data-translate="simpleServiceApp.collection.sequenceNumber">Sequence Number</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payerName"><span
                        data-translate="simpleServiceApp.collection.payerName">Payer Name</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span
                        data-translate="simpleServiceApp.collection.createdBy">Created By</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.collection.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.collection.lastModifiedBy">Last Modified By</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span-->
                    <!--data-translate="simpleServiceApp.collection.lastModifiedDate">Last Modified Date</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->

                    <th jh-sort-by="paymentType.name"><span data-translate="simpleServiceApp.collection.paymentType">Payment Type</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="collection in vm.collections track by collection.id">
                    <td><a ui-sref="collection-detail({id:collection.id})">{{collection.id}}</a></td>
                    <td>
                        <a ui-sref="finance-category-detail({id:collection.financeCategory.id})">{{collection.financeCategory.name}}</a>
                    </td>
                    <td>{{collection.status.name}}</td>
                    <td>{{collection.moneyShouldCollected}}</td>
                    <td>{{collection.moneyCollected}}</td>
                    <td>{{collection.balance}}</td>
                    <td>{{collection.sequenceNumber}}</td>
                    <td>{{collection.payerName}}</td>
                    <td>{{collection.createdBy}}</td>
                    <td>{{collection.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <!--<td>{{collection.lastModifiedBy}}</td>-->
                    <!--<td>{{collection.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>-->

                    <td>
                        <a ui-sref="payment-type-detail({id:collection.paymentType.id})">{{collection.paymentType.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                            <button type="submit"
                                    ui-sref="collection-detail({id:collection.id})"
                                    class="btn btn-mint btn-sm">
                                <span class="glyphicon glyphicon-hand-up"></span>
                                <span class="hidden-sm-down">确认收款</span>
                            </button>

                            <button type="submit"
                                    ui-sref="collection-detail({id:collection.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection.edit({id:collection.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection.delete({id:collection.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
