<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.studentClassInOutLog.home.title">Student Class In Out Logs</h1>
</div>
<jhi-alert></jhi-alert>
<div class="panel">
    <div class="panel-body">

    <!--<h2 data-translate="simpleServiceApp.studentClassInOutLog.home.title">Student Class In Out Logs</h2>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student-class-in-out-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="simpleServiceApp.studentClassInOutLog.home.createLabel">
                        Create new Student Class In Out Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="simpleServiceApp.studentClassInOutLog.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span data-translate="simpleServiceApp.studentClassInOutLog.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.studentClassInOutLog.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.studentClassInOutLog.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.studentClassInOutLog.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="student.name"><span data-translate="simpleServiceApp.studentClassInOutLog.student">Student</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oldClass.name"><span data-translate="simpleServiceApp.studentClassInOutLog.oldClass">Old Class</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newClass.name"><span data-translate="simpleServiceApp.studentClassInOutLog.newClass">New Class</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentClassInOutLog in vm.studentClassInOutLogs track by studentClassInOutLog.id">
                    <td><a ui-sref="student-class-in-out-log-detail({id:studentClassInOutLog.id})">{{studentClassInOutLog.id}}</a></td>
                    <td>{{studentClassInOutLog.comments}}</td>
                    <td>{{studentClassInOutLog.createdBy}}</td>
                    <td>{{studentClassInOutLog.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{studentClassInOutLog.lastModifiedBy}}</td>
                    <td>{{studentClassInOutLog.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>
                        <a ui-sref="student-detail({id:studentClassInOutLog.student.id})">{{studentClassInOutLog.student.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="product-detail({id:studentClassInOutLog.oldClass.id})">{{studentClassInOutLog.oldClass.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="product-detail({id:studentClassInOutLog.newClass.id})">{{studentClassInOutLog.newClass.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-class-in-out-log-detail({id:studentClassInOutLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-class-in-out-log.edit({id:studentClassInOutLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-class-in-out-log.delete({id:studentClassInOutLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
