<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContractLabel">管理套餐合同</h4>
    </div>

    <jhi-alert></jhi-alert>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.contract.customer">Customer</label>
                    <small>（输入客户姓名或者手机号关键字搜索）</small>

                    <ui-select ng-model="vm.contract.customer">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices refresh="vm.searchPersonWithKeyword($select.search)"
                                           repeat="item in (vm.customers | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span><span class="pull-right"
                                                                   ng-bind="item.contactPhoneNumber"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.contract.customerCard" for="field_customerCard">Customer
                        Card</label>
                    <select class="form-control" id="field_customerCard" name="customerCard"
                            ng-model="vm.contract.customerCard"
                            ng-options="customerCard as customerCard.number for customerCard in vm.customercards track by customerCard.id">
                        <option value=""></option>
                    </select>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>套餐</label>
                    <select class="form-control" name="contractPackage"
                            ng-model="vm.contract.package"
                            ng-options="package as package.name for package in vm.contractPackages track by package.id">
                        <option value=""></option>
                    </select>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>生成套餐合同</span>
        </button>
    </div>
</form>
