<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.customerCommunicationLog.home.title">Customer Communication Logs</h1>
</div>
<div class="panel">
    <div class="panel-body">
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <!--<button class="btn btn-primary" ui-sref="customer-communication-log.new">-->
                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                        <!--<span data-translate="simpleServiceApp.customerCommunicationLog.home.createLabel">-->
                        <!--Create new Customer Communication Log-->
                    <!--</span>-->
                    <!--</button>-->
                    <button class="btn btn-success" ui-sref="customer-communication-log-type" has-authority="ROLE_ADMIN">
                        <span class="glyphicon glyphicon-saved"></span>
                        <span>
                            管理记录类型
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="simpleServiceApp.customerCommunicationLog.comments">Comments</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.createdBy">Created By</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.lastModifiedBy">Last Modified By</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.lastModifiedDate">Last Modified Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logType.name"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.logType">Log Type</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.customer">Customer</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freeClassRecord.personName"><span
                            data-translate="simpleServiceApp.customerCommunicationLog.freeClassRecord">Free Class Record</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customerCommunicationLog in vm.customerCommunicationLogs track by customerCommunicationLog.id">
                    <td><a ui-sref="customer-communication-log-detail({id:customerCommunicationLog.id})">{{customerCommunicationLog.id}}</a>
                    </td>
                    <td><span ng-bind-html="customerCommunicationLog.comments"></span></td>
                    <td>{{customerCommunicationLog.createdBy}}</td>
                    <td>{{customerCommunicationLog.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{customerCommunicationLog.lastModifiedBy}}</td>
                    <td>{{customerCommunicationLog.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <td>
                        <a ui-sref="customer-communication-log-type-detail({id:customerCommunicationLog.logType.id})">{{customerCommunicationLog.logType.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer-detail({id:customerCommunicationLog.customer.id})">{{customerCommunicationLog.customer.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="free-class-record-detail({id:customerCommunicationLog.freeClassRecord.id})">{{customerCommunicationLog.freeClassRecord.personName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-communication-log-detail({id:customerCommunicationLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-communication-log.edit({id:customerCommunicationLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <!--<button type="submit"-->
                                    <!--ui-sref="customer-communication-log.delete({id:customerCommunicationLog.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
