<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.countNumber.home.title">Count Numbers</h1>
</div>
<jhi-alert></jhi-alert>
<div class="panel">
    <div class="panel-body">

    <!--<h2 data-translate="simpleServiceApp.countNumber.home.title">Count Numbers</h2>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="count-number.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="simpleServiceApp.countNumber.home.createLabel">
                        Create new Count Number
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="simpleServiceApp.countNumber.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="value"><span data-translate="simpleServiceApp.countNumber.value">Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loopWay.name"><span data-translate="simpleServiceApp.countNumber.loopWay">Loop Way</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="countNumber in vm.countNumbers track by countNumber.id">
                    <td><a ui-sref="count-number-detail({id:countNumber.id})">{{countNumber.id}}</a></td>
                    <td>{{countNumber.name}}</td>
                    <td>{{countNumber.value}}</td>
                    <td>
                        <a ui-sref="class-arrangement-rule-loop-way-detail({id:countNumber.loopWay.id})">{{countNumber.loopWay.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="count-number-detail({id:countNumber.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="count-number.edit({id:countNumber.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="count-number.delete({id:countNumber.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
