<div class="panel">
    <div class="panel-body">
    <h2 data-translate="simpleServiceApp.customer.home.title">Customers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="no-padding-left">

                <button class="btn btn-primary" ui-sref="customer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="simpleServiceApp.customer.home.createLabel">
                        Create new Customer
                    </span>
                </button>

                <!--<button class="btn btn-pink" ui-sref="customer-communication-schedule">-->
                    <!--<span class="glyphicon glyphicon-bishop"></span>&nbsp;-->
                    <!--<span data-translate="global.menu.entities.customerCommunicationSchedule">Customer Communication Schedule</span>-->
                <!--</button>-->

                <!--<button class="btn btn-mint" ui-sref="customer-communication-log" >-->
                    <!--<span class="glyphicon glyphicon-list-alt"></span>&nbsp;-->
                    <!--<span data-translate="global.menu.entities.customerCommunicationLog">Customer Communication Log</span>-->
                <!--</button>-->

                <!--<button class="btn btn-success" ui-sref="customer-status" >-->
                    <!--<span class="glyphicon glyphicon-stats"></span>&nbsp;-->
                    <!--<span data-translate="global.menu.entities.customerStatus">Customer Communication Log</span>-->
                <!--</button>-->
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="simpleServiceApp.customer.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="simpleServiceApp.customer.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                    <th jh-sort-by="status.name"><span data-translate="simpleServiceApp.customer.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status.channel"><span data-translate="simpleServiceApp.customer.channel">Channel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="simpleServiceApp.customer.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPhoneNumber"><span data-translate="simpleServiceApp.customer.contactPhoneNumber">Contact Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesFollower.id"><span data-translate="simpleServiceApp.customer.salesFollower">Sales</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in vm.customers track by customer.id">
                    <td><a ui-sref="customer-detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.sex}}</td>
                    <td><i class="{{customer.status.icon}}"></i></td>
                    <td><label class="{{customer.status.cssStyle}}">{{customer.status.name}}</label></td>
                    <td>{{customer.channel.name}}</td>
                    <td>{{customer.age}}</td>
                    <td>{{customer.contactPhoneNumber}}</td>
                    <td>{{customer.salesFollower.firstName}}</td>
                    <!--<td>-->
                        <!--<a ui-sref="free-class-record-detail({id:customer.newOrder.id})">{{customer.newOrder.id}}</a>-->
                    <!--</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-detail({id:customer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down">管理</span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.schedule({id:customer.id})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                <span class="hidden-sm-down">预约</span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.edit({id:customer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.delete({id:customer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
