<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel" data-translate="simpleServiceApp.customer.home.createOrEditLabel">
            Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.name"
                           for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.customer.name"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.age"
                           for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           ng-model="vm.customer.age"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.contactPhoneNumber"
                           for="field_contactPhoneNumber">Contact Phone Number</label>
                    <input type="text" class="form-control" name="contactPhoneNumber" id="field_contactPhoneNumber"
                           ng-model="vm.customer.contactPhoneNumber"
                    />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.sex"
                           for="field_sex">Sex</label>
                    <!--<input type="text" class="form-control" name="sex" id="field_sex"-->
                    <!--ng-model="vm.customer.sex"-->
                    <!--/>-->
                    <select class="form-control" id="field_sex" name="sex" ng-model="vm.customer.sex">
                        <option value=""></option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">区域来源</label>
                    <!--<input type="text" class="form-control" name="sex" id="field_sex"-->
                    <!--ng-model="vm.customer.sex"-->
                    <!--/>-->
                    <ui-select ng-model="vm.customer.newOrderResourceLocation">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (vm.locations | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.birthday"
                           for="field_birthday">Birthday</label>
                    <div class="input-group">
                        <input id="field_birthday" ng-focus="vm.openCalendar('birthday')" type="text"
                               class="form-control" name="birthday" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"
                               ng-model="vm.customer.birthday" is-open="vm.datePickerOpenStatus.birthday"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.hoby"
                           for="field_hoby">Hoby</label>
                    <input type="text" class="form-control" name="hoby" id="field_hoby"
                           ng-model="vm.customer.hoby"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.address" for="field_address">Address</label>
                    <textarea rows="3" class="form-control" name="address" id="field_address"
                              ng-model="vm.customer.address"
                    ></textarea>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           ng-model="vm.customer.email"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.classLevel">Class Level</label>
                    <!--<input type="text" class="form-control" name="classLevel" id="field_classLevel"-->
                           <!--ng-model="vm.customer.classLevel"-->
                    <!--/>-->
                    <ui-select ng-model="vm.customer.classLevel">
                        <ui-select-match>
                            {{$select.selected.value}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (vm.classLevels | filter: $select.search) track by item.id">
                            <span ng-bind="item.value"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.parentName"
                           for="field_parentName">Parent Name</label>
                    <input type="text" class="form-control" name="parentName" id="field_parentName"
                           ng-model="vm.customer.parentName"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.customer.parentContractNumber"
                           for="field_parentContractNumber">Parent Contract Number</label>
                    <input type="text" class="form-control" name="parentContractNumber" id="field_parentContractNumber"
                           ng-model="vm.customer.parentContractNumber"
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.customer.channel" for="field_channel">Channel</label>
                    <select class="form-control" id="field_channel" name="channel" ng-model="vm.customer.channel"
                            ng-options="marketChannelCategory as marketChannelCategory.name for marketChannelCategory in vm.marketchannelcategories track by marketChannelCategory.id">
                        <option value=""></option>
                    </select>
                </div>

            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <label data-translate="simpleServiceApp.customer.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" ng-model="vm.customer.status"
                            ng-options="customerStatus as customerStatus.name for customerStatus in vm.customerstatuses track by customerStatus.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <label>到访状态</label>
                    <select class="form-control" ng-model="vm.customer.vistedCustomerStatus"
                            ng-options="customerStatus as customerStatus.name for customerStatus in vm.vistedStatus track by customerStatus.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
