
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel" data-translate="simpleServiceApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.customer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.customer.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.customer.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.customer.age"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.customer.contactPhoneNumber" for="field_contactPhoneNumber">Contact Phone Number</label>
            <input type="text" class="form-control" name="contactPhoneNumber" id="field_contactPhoneNumber"
                    ng-model="vm.customer.contactPhoneNumber"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.customer.createdBy" for="field_createdBy">Created By</label>-->
            <!--<input type="text" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="vm.customer.createdBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.customer.createdDate" for="field_createdDate">Created Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.customer.createdDate" is-open="vm.datePickerOpenStatus.createdDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.customer.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>-->
            <!--<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"-->
                    <!--ng-model="vm.customer.lastModifiedBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.customer.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.customer.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label data-translate="simpleServiceApp.customer.newOrder" for="field_newOrder">New Order</label>
            <input readonly class="form-control" id="field_newOrder" name="newOrder" ng-model="vm.customer.newOrder.id">
            </input>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
