<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.customerCardCourse.home.title">Customer Card Courses</h1>
</div>
<jhi-alert></jhi-alert>
<div class="panel">
    <div class="panel-body">

    <!--<h2 data-translate="simpleServiceApp.customerCardCourse.home.title">Customer Card Courses</h2>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="customer-card-course.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="simpleServiceApp.customerCardCourse.home.createLabel">
                        Create new Customer Card Course
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCard.id"><span data-translate="simpleServiceApp.customerCardCourse.customerCard">Customer Card</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="course.id"><span data-translate="simpleServiceApp.customerCardCourse.course">Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customerCardCourse in vm.customerCardCourses track by customerCardCourse.id">
                    <td><a ui-sref="customer-card-course-detail({id:customerCardCourse.id})">{{customerCardCourse.id}}</a></td>
                    <td>
                        <a ui-sref="customer-card-detail({id:customerCardCourse.customerCard.id})">{{customerCardCourse.customerCard.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="course-detail({id:customerCardCourse.course.id})">{{customerCardCourse.course.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-card-course-detail({id:customerCardCourse.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-card-course.edit({id:customerCardCourse.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-card-course.delete({id:customerCardCourse.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
