
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClassArrangementLabel" data-translate="simpleServiceApp.classArrangement.home.createOrEditLabel">Create or edit a Class Arrangement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.classArrangement.clazz" for="field_clazz">Clazz</label>
                    <select class="form-control" id="field_clazz" name="clazz" ng-model="vm.classArrangement.clazz" ng-options="product as product.name for product in vm.products track by product.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.classArrangement.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" ng-model="vm.classArrangement.status" ng-options="classArrangementStatus as classArrangementStatus.name for classArrangementStatus in vm.classarrangementstatuses track by classArrangementStatus.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.classArrangement.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.classArrangement.startDate" is-open="vm.datePickerOpenStatus.startDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.classArrangement.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.classArrangement.endDate" is-open="vm.datePickerOpenStatus.endDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.classArrangement.planedTeacher" for="field_planedTeacher">Planed Teacher</label>
                    <select class="form-control" id="field_planedTeacher" name="planedTeacher" ng-model="vm.classArrangement.planedTeacher" ng-options="teacher as teacher.name for teacher in vm.teachers track by teacher.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.classArrangement.actualTeacher" for="field_actualTeacher">Actual Teacher</label>
                    <select class="form-control" id="field_actualTeacher" name="actualTeacher" ng-model="vm.classArrangement.actualTeacher" ng-options="teacher as teacher.name for teacher in vm.teachers track by teacher.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
