<div class="panel panel-bordered-mint">

    <div class="panel-body">


        <div class="row">
            <div class="col-md-9">

                <label>班级</label>
                <div class="input-group mar-btm">

                    <ui-select ng-model="vm.classArrangementRule.targetClass">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (vm.products | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <a class="btn btn-mint" type="button" ng-click="vm.openAddClassDialog()">
                                        录入新班 <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                    </span>
                </div>

            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <label class="control-label" for="consumeClassCount">耗课节数（默认耗2节课）</label>
                    <input type="text" class="form-control" name="consumeClassCount" id="consumeClassCount"
                           ng-model="vm.classArrangementRule.consumeClassCount"
                    />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"
                           data-translate="simpleServiceApp.classArrangementRule.estimateStartDate"
                           for="field_estimateStartDate">Estimate Start Date</label>
                    <div class="input-group">
                        <input id="field_estimateStartDate" type="text" class="form-control" name="estimateStartDate"
                               datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.classArrangementRule.estimateStartDate"
                               is-open="vm.datePickerOpenStatus.estimateStartDate" ng-focus="vm.openCalendar('estimateStartDate')"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('estimateStartDate')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">预计结束日期</label>
                    <div class="input-group">
                        <input id="field_estimateEndDate" type="text" class="form-control" name="estimateEndDate"
                               datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.classArrangementRule.estimateEndDate"
                               is-open="vm.datePickerOpenStatus.estimateEndDate" ng-focus="vm.openCalendar('estimateEndDate')"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('estimateEndDate')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"
                           data-translate="simpleServiceApp.classArrangementRule.estimateStartTime"
                           for="field_estimateStartTime">Estimate Start Time</label>
                    <input type="text" class="form-control" name="estimateStartTime" id="field_estimateStartTime"
                           ng-model="vm.classArrangementRule.estimateStartTime" readonly
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"
                           data-translate="simpleServiceApp.classArrangementRule.estimateEndTime"
                           for="field_estimateEndTime">Estimate Start Time</label>
                    <input type="text" class="form-control" name="estimateEndTime" id="field_estimateEndTime"
                           ng-model="vm.classArrangementRule.estimateEndTime" readonly
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>确定生成排课</span>
                </button>
            </div>
        </div>
    </div>
</div>