<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <!--<h4 class="modal-title" id="myContractLabel">排课管理</h4>-->
    </div>

    <jhi-alert></jhi-alert>

    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="排课">

                <div ng-include="'app/entities/class-arrangement/new-class-arrangment-dialog-tab.html'"></div>
            </uib-tab>
            <uib-tab heading="更换班级">
                <div ng-include="'app/entities/class-arrangement/class-arrangment-reassign-class-tab.html'"></div>
            </uib-tab>
        </uib-tabset>

    </div>

    <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span-->
                <!--data-translate="entity.action.cancel">Cancel</span>-->
        <!--</button>-->

    <!--</div>-->
</form>
