<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <!--<h4 class="modal-title">学员签到</h4>-->
</div>

<jhi-alert></jhi-alert>

<div class="panel">
    <div class="panel-body">

        <uib-tabset>
            <uib-tab heading="签到">

                <div class="pad-lft pad-rgt">
                    <div class="panel panel-bordered-mint">

                        <div class="panel-body">

                            <dl class="dl-horizontal jh-entity-details">
                                <dt><span>上课老师</span></dt>
                                <dd>
                                    <ui-select ng-model="vm.actualTeacher">
                                        <ui-select-match>
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in (vm.allTeachers | filter: $select.search) track by item.id">
                                            <span ng-bind="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </dd>

                                <dt><span>常规学员</span></dt>
                                <dd>
                                    <div class="table-responsive">
                                        <table class="jh-table table table-striped">
                                            <thead>
                                            <tr jh-sort="vm.predicate" ascending="vm.reverse"
                                                callback="vm.transition()">
                                                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
                                                    <span
                                                            class="glyphicon glyphicon-sort"></span></th>
                                                <th jh-sort-by="name"><span>姓名</span></th>
                                                <th><span>性别</span></th>
                                                <th class="text-center">
                                                    <span>出席</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>缺席</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="student in vm.students track by student.id"
                                                ng-class="{'bg-info': student.selected, 'bg-danger': student.absent}" >
                                                <td><a ui-sref="student-detail({id:student.id})"
                                                       target="_window">{{student.id}}</a></td>
                                                <td>{{student.name}}</td>
                                                <td>{{student.gender}}</td>
                                                <td class="text-center">
                                                    <input id="email-list-{{student.id}}" type="checkbox"
                                                           class="magic-checkbox"
                                                           ng-model="student.selected" ng-change="vm.singleRowClicked(student, 'normal')">
                                                    <label for="email-list-{{student.id}}" ></label>
                                                </td>
                                                <td class="text-center">
                                                    <input id="absence-list-{{student.id}}" type="checkbox"
                                                           class="magic-checkbox"
                                                           ng-model="student.absent" ng-change="vm.singleRowClicked(student, 'absent')">
                                                    <label for="absence-list-{{student.id}}"></label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </dd>
                                <dt>补课学员</dt>
                                <dd>

                                    <div class="row">
                                        <div class="col-md-12 input-group mar-btm">
                                            <ui-select multiple ng-model="vm.addedStudents">
                                                <ui-select-match placeholder="输入姓名或者电话号码模糊搜索">
                                                    {{$item.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="vm.searchStudentWithKeyword($select.search)"
                                                                   repeat="item in (vm.preaddedStudents | filter: $select.search) track by item.id">
                                                    <span ng-bind="item.name"></span>
                                                    <span class="pull-right" ng-bind="item.phone"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                    </div>
                                </dd>
                            </dl>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal"
                                    ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                    data-translate="entity.action.cancel">Cancel</span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-primary"
                                    ng-click="vm.signClassInBatch('single')" ng-disabled="vm.isSaving">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>确定签到</span>
                            </button>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="补签">

                <div class="pad-lft pad-rgt">
                    <div class="panel panel-bordered-mint">
                        <div class="panel-heading">
                            <h4 class="panel-title">选择补签学员</h4>
                        </div>
                        <div class="panel-body">

                            <dl class="dl-horizontal jh-entity-details">
                                <dt><span>常规学员</span></dt>
                                <dd>
                                    <table class="jh-table table table-striped">

                                        <thead>
                                        <tr jh-sort="vm.predicate" ascending="vm.reverse"
                                            callback="vm.transition()">
                                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
                                                <span
                                                        class="glyphicon glyphicon-sort"></span></th>
                                            <th jh-sort-by="name"><span>姓名</span></th>
                                            <th><span>性别</span></th>
                                            <th class="text-center">
                                                <span>出席</span>
                                            </th>
                                            <th class="text-center">
                                                <span>缺席</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="student in vm.students track by student.id"
                                            ng-class="{'bg-info': student.selected, 'bg-danger': student.absent}" >
                                            <td><a ui-sref="student-detail({id:student.id})"
                                                   target="_window">{{student.id}}</a></td>
                                            <td>{{student.name}}</td>
                                            <td>{{student.gender}}</td>
                                            <td class="text-center">
                                                <input id="email-list-{{student.id}}-1" type="checkbox"
                                                       class="magic-checkbox"
                                                       ng-model="student.selected" ng-change="vm.singleRowClicked(student, 'normal')">
                                                <label for="email-list-{{student.id}}" ></label>
                                            </td>
                                            <td class="text-center">
                                                <input id="absence-list-{{student.id}}-1" type="checkbox"
                                                       class="magic-checkbox"
                                                       ng-model="student.absent" ng-change="vm.singleRowClicked(student, 'absent')">
                                                <label for="absence-list-{{student.id}}"></label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </dd>
                                <dt><span>补课学员</span></dt>
                                <dd>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ui-select multiple ng-model="vm.addedStudents">
                                                <ui-select-match placeholder="输入姓名或者电话号码模糊搜索（可多选）">
                                                    {{$item.name}}
                                                </ui-select-match>
                                                <ui-select-choices refresh="vm.searchStudentWithKeyword($select.search)"
                                                                   repeat="item in (vm.preaddedStudents | filter: $select.search) track by item.id">
                                                    <span ng-bind="item.name"></span>
                                                    <span class="pull-right" ng-bind="item.phone"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                    </div>

                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="pad-lft pad-rgt">
                    <div class="panel panel-bordered-mint">
                        <div class="panel-heading">
                            <h4 class="panel-title">选择补签日期</h4>
                        </div>
                        <div class="panel-body">

                            <table class="jh-table table table-striped">
                                <thead>

                                <tr>
                                    <th>上课开始时间</th>
                                    <th>上课结束时间</th>
                                    <th>上课老师</th>
                                    <th></th>
                                </tr>

                                </thead>

                                <tbody>
                                <tr ng-repeat="classArrangement in vm.classArrangements track by classArrangement.id"
                                    ng-class="classArrangement.selected? 'bg-info': ''">
                                    <td>{{classArrangement.startDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{classArrangement.endDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>
                                        <ui-select ng-model="classArrangement.planedTeacher">
                                            <ui-select-match>
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in (vm.allTeachers | filter: $select.search) track by item.id">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td class="text-center">
                                        <input id="email-list-{{classArrangement.id}}" type="checkbox"
                                               class="magic-checkbox"
                                               ng-model="classArrangement.selected">
                                        <label for="email-list-{{classArrangement.id}}"></label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <!--<button type="button" class="btn btn-default btn-block" data-dismiss="modal" ng-click="vm.clear()">-->
                            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>-->
                            <!--</button>-->
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-primary"
                                    ng-click="vm.signClassInBatch('batch')" ng-disabled="vm.isSaving">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>确定补签</span>
                            </button>
                        </div>
                    </div>
                </div>

            </uib-tab>

            <uib-tab heading="签到记录">
                <div class="pad-lft pad-rgt">
                    <div class="panel panel-bordered-mint">
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr>
                                    <th>学员</th>
                                    <th>上课老师</th>
                                    <th>签到时间</th>
                                    <th>上课时间</th>
                                    <th>下课时间</th>
                                    <th>消耗课时</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="studentClassLog in vm.studentClassLogs track by studentClassLog.id">
                                    <td>
                                        <a target="_window" ui-sref="student-detail({id:studentClassLog.student.id})">{{studentClassLog.student.name}}</a>
                                    </td>
                                    <td>
                                        {{studentClassLog.arrangement.actualTeacher.name}}
                                    </td>
                                    <td>{{studentClassLog.actualTakenDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{studentClassLog.arrangement.startDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{studentClassLog.arrangement.endDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{studentClassLog.arrangement.consumeClassCount}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>

</div>

<!--<div class="modal-footer">-->
<!---->

<!--</div>-->
