<div class="panel">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12 panel-bordered-primary panel-bordered" ng-repeat="weekday in vm.weekClasses">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="{{weekday.classrooms.length + 1}}">
                                <h4>{{weekday.weekdayName}}</h4>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="text-center" ng-repeat="classRoom in weekday.classrooms">
                                <h5>{{classRoom.name}}</h5>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="text-center" ng-repeat="course in weekday.courses track by $index">{{course}}
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="text-center" ng-repeat="teacher in weekday.teachers track by $index">
                                {{teacher}}
                            </th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>09:00-10:30</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.morningFirstHalf">

                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                        <li class="nav-item" uib-dropdown style="width: 100%">

                                            <!-- navbar-link btn btn-default btn-block -->
                                            <button uib-dropdown-toggle class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '09:00', '10:30', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->

                            </td>

                        </tr>
                        <tr>
                            <td>10:45-12:15</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.morningSecondHalf">
                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row" >

                                        <li class="nav-item" uib-dropdown  style="width: 100%">

                                            <button uib-dropdown-toggle href="" class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '10:45', '12:15', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td>12:15-13:00</td>
                            <td class="{{mf.statusColor}} text-center bg-warning" ng-repeat="mf in weekday.moonRest">
                                休
                            </td>
                        </tr>
                        <tr>
                            <td>13:00-14:30</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.afternoonFirstHalf">
                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                        <li class="nav-item" uib-dropdown style="width: 100%">

                                            <button uib-dropdown-toggle href="" class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '13:00', '14:30', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td>14:45-16:15</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.afternoonSecondHalf">
                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                        <li class="nav-item" uib-dropdown style="width: 100%">

                                            <button uib-dropdown-toggle href="" class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '14:45', '16:15', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td>16:30-18:00</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.afternoonThiredHalf">
                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                        <li class="nav-item" uib-dropdown style="width: 100%">

                                            <button uib-dropdown-toggle href="" class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '16:30', '18:00', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td>18:00-18:30</td>
                            <td class="bg-warning text-center" ng-repeat="mf in weekday.afternoonRest">休</td>
                        </tr>
                        <tr>
                            <td>18:30-20:00</td>
                            <td class="{{mf.statusColor}} text-center" ng-repeat="mf in weekday.evenning">
                                <!--<div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">-->
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                                        <li class="nav-item" uib-dropdown style="width: 100%">

                                            <button uib-dropdown-toggle href="" class="navbar-link btn btn-default btn-block border-0">{{mf.className || '&nbsp;&nbsp;'}}</button>

                                            <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openStudentsManagementDialog(mf)">
                                                        <span>学员列表</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.createNewClassArrangements(mf, '18:30', '20:00', $index, weekday.weekdayName)">
                                                        <span>排课</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.openClassSignDialog(mf)">
                                                        <span>签到</span>
                                                    </a>
                                                </li>
                                                <li ui-sref-active="active">
                                                    <a ng-click="vm.studentLeaveRequest(mf)">
                                                        <span>请假</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>
