<!--<div class="header py-4">-->
<!--<div class="container">-->
<!--<div class="d-flex">-->
<!--<a class="header-brand">-->
<!--<img src="./content/images/pz_logo_long.png" class="header-brand-img">-->
<!--</a>-->
<!--<div class="d-flex order-lg-2 ml-auto">-->
<!--<div class="dropdown d-none d-md-flex">-->
<!--<a class="nav-link icon" data-toggle="dropdown">-->
<!--<i class="fa fa-bell"></i>-->
<!--<span class="nav-unread"></span>-->
<!--</a>-->

<!--</div>-->
<!--<div class="dropdown" ng-switch="vm.isAuthenticated()">-->
<!--<li uib-dropdown>-->
<!--<a class="nav-link pr-0 leading-none" uib-dropdown-toggle href="" >-->
<!--<span class="avatar" style="background-image: url(./../content/images/logo-jhipster.png)"></span>-->
<!--<span class="ml-2 d-none d-lg-block">-->
<!--<span class="text-default" ng-switch-when="true">{{vm.account.firstName}}</span>-->
<!--<small class="text-muted d-block mt-1">{{vm.account.login}}</small>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>-->
<!--<li ui-sref-active="active">-->
<!--<a ui-sref="settings" ng-click="vm.collapseNavbar()" ng-switch-when="true">-->
<!--<span class="glyphicon glyphicon-wrench"></span>&nbsp;-->
<!--<span data-translate="global.menu.account.settings">Settings</span>-->
<!--</a>-->
<!--</li>-->
<!--<li ui-sref-active="active">-->
<!--<a ui-sref="password" ng-click="vm.collapseNavbar()" ng-switch-when="true">-->
<!--<span class="glyphicon glyphicon-lock"></span>&nbsp;-->
<!--<span data-translate="global.menu.account.password">Password</span>-->
<!--</a>-->
<!--</li>-->
<!--<li ui-sref-active="active">-->
<!--<a href="" ng-click="vm.logout()" ng-switch-when="true">-->
<!--<span class="glyphicon glyphicon-log-out"></span>&nbsp;-->
<!--<span data-translate="global.menu.account.logout">Sign out</span>-->
<!--</a>-->
<!--</li>-->
<!--<li ui-sref-active="active" ng-switch-when="false">-->
<!--<a href="" ng-click="vm.login()">-->
<!--<span class="glyphicon glyphicon-log-in"></span>&nbsp;-->
<!--<span data-translate="global.menu.account.login">Sign in</span>-->
<!--</a>-->
<!--</li>-->
<!--<li ui-sref-active="active" ng-switch-when="false">-->
<!--<a ui-sref="register" ng-click="vm.collapseNavbar()">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;-->
<!--<span data-translate="global.menu.account.register">Register</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->


<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<jhi-alert class="text-center text-bold"></jhi-alert>-->

<div class="header collapse d-lg-flex p-0">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg order-lg-first" ng-switch="vm.isAuthenticated()">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li ui-sref-active="active" class="nav-item">
                        <a ui-sref="home" class="nav-link"> <i class="fa fa-home"></i>主页
                        </a>
                    </li>
                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-sm">
                                    前台
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="customer-communication-schedule" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;
                                    <span>前台到访</span>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a ui-sref="free-class-record" ng-click="vm.collapseNavbar()">-->
                            <!--<span class="glyphicon glyphicon-bishop"></span>&nbsp;-->
                            <!--<span data-translate="global.menu.entities.freeClassRecord">Free Class Record</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <li ui-sref-active="active">
                                <a ui-sref="customer({dept: 'recipient'})" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                                    <span>客户列表</span>
                                </a>
                            </li>
                            <li class="dropdown-header">活动</li>
                            <li>
                                <a ui-sref="customer-schedule-feedback">
                                    <span class="glyphicon glyphicon-align-center"></span>
                                    <span>送礼品活动</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_SALES,ROLE_PWI">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-registration-mark"></span>
                                <span class="hidden-sm">
                                    市场部
                                </span>
                            </span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                            <li class="dropdown-header">回单</li>

                            <li>
                                <a ui-sref="free-class-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-bishop"></span>&nbsp;
                                    <span data-translate="global.menu.entities.freeClassRecord">Free Class Record</span>
                                </a>
                            </li>

                            <li>
                                <a ui-sref="new-order-assign-history" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-hourglass"></span>&nbsp;
                                    <span>新单分配历史</span>
                                </a>
                            </li>
                            <li class="dropdown-header">客户</li>

                            <li>
                                <a ui-sref="customer({dept: 'market'})">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>客户列表</span>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a ui-sref="task">-->
                            <!--<span class="glyphicon glyphicon-tasks"></span>-->
                            <!--<span>TMK任务</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a ui-sref="home">-->
                            <!--<span class="glyphicon glyphicon-tags"></span>-->
                            <!--<span>TMK确认到访任务</span>-->
                            <!--</a>-->
                            <!--</li>-->

                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="customer-status-report-dtl">
                                    <span class="glyphicon glyphicon-record"></span>
                                    <span>TMK报表</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="customer-location-report-dtl">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span>区域报表</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="channel-report">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span>来源性质报表</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="home">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>TMK历史任务</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="home">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>户外人员报表</span>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a ui-sref="home">-->
                            <!--<span class="glyphicon glyphicon-tags"></span>-->
                            <!--<span>渠道更换</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a ui-sref="home">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>户外人员回单有效率报表</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="home">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>客户回单统计表</span>
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li class="dropdown-header" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">微信小程序</li>
                            <li ui-sref-active="active">
                                <a ui-sref="free-class-plan" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-scale"></span>&nbsp;
                                    <span>小程序预约计划配置</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="ad" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;
                                    <span>小程序广告</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="marketing-qrcode" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
                                    <span>推广专属二维码</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">数据</li>
                            <li>
                                <a ui-sref="marketing-new-order-plan">
                                    <span class="glyphicon glyphicon-tag"></span>
                                    <span>
                                        PWI销售目标
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="new-order-assign-history">
                                    <span class="glyphicon glyphicon-record"></span>
                                    <span>
                                        新单分配记录
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="new-order-wechat-user-info">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span>
                                        新单用户微信列表
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_COURSE_CONSULTANT">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="hidden-sm">
                                    运营部
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                            <li class="dropdown-header">客户</li>
                            <li>
                                <a ui-sref="customer({dept: 'operation'})">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span>客户列表</span>
                                </a>
                            </li>

                            <li class="dropdown-header">卡</li>

                            <li>
                                <a ui-sref="customer-card">
                                    <span class="glyphicon glyphicon-credit-card"></span>
                                    <span>卡列表</span>
                                </a>
                            </li>

                            <li>
                                <a ui-sref="customer-card-type">
                                    <span class="glyphicon glyphicon-blackboard"></span>
                                    <span>卡类型管理</span>
                                </a>
                            </li>

                            <li class="dropdown-header">合同</li>

                            <li>
                                <a ui-sref="contract">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                    <span>合同列表</span>
                                </a>
                            </li>

                            <li>
                                <a ui-sref="contract-template">
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                    <span>合同模板管理</span>
                                </a>
                            </li>

                            <li>
                                <a ui-sref="contract-package">
                                    <span class="glyphicon glyphicon-tree-conifer"></span>
                                    <span>套餐管理</span>
                                </a>
                            </li>


                        </ul>

                    </li>

                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_EDUCATION_ADMIN">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-education"></span>
                                <span class="hidden-sm">
                                    教务处
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                            <li class="dropdown-header">教务</li>
                            <li>
                                <a ui-sref="class-arrangement">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    <span>课程表</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="student">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span>学员管理</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="product">
                                    <span class="fa fa-book"></span>
                                    <span data-translate="global.menu.entities.product">Product</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="student-leave">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span>请假记录</span>
                                </a>
                            </li>

                            <li class="dropdown-header">学校资源</li>
                            <li><a ui-sref="class-room"><span class="fa fa-home"></span>教室管理</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">课程</li>


                            <li>
                                <a ui-sref="course">
                                    <span class="fa fa-book"></span>
                                    <span data-translate="global.menu.entities.course">Course</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="class-category">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span>课程种类</span>
                                </a>
                            </li>

                            <li>
                                <a ui-sref="class-arrangement-rule" ng-click="vm.collapseNavbar()">
                                    <span class="fa fa-archive"></span>&nbsp;
                                    <span data-translate="global.menu.entities.classArrangementRule">Class Arrangement Rule</span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li class="dropdown-header">学员</li>
                            <li>
                                <a ui-sref="student-class-log">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    <span>冻结</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="student-class-log">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    <span>学员上课记录</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="customer-consumer-log">
                                    <span class="glyphicon glyphicon-gift"></span>
                                    <span>耗课记录</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">老师</li>
                            <li>
                                <a ui-sref="teacher">
                                    <span class="fa fa-certificate"></span>
                                    <span data-translate="global.menu.entities.teacher">Teacher</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="education-level">
                                    <span class="glyphicon glyphicon-education"></span>
                                    <span data-translate="global.menu.entities.educationLevel">Education Level</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_FINANCE">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-jpy"></span>
                                <span class="hidden-sm">
                                    财务部
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                            <li>
                                <a ui-sref="payment">
                                    <span class="glyphicon glyphicon-credit-card"></span>
                                    <span>支出列表</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="collection">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span>应收列表</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="customer-collection-log">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span>应收确认记录</span>
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-king"></span>
                                <span class="hidden-sm">
                                    数据配置
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>

                            <li class="dropdown-header">市场部</li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="customer-status">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                    <span>客户数据状态</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="visted-customer-status">
                                    <span class="glyphicon glyphicon-yen"></span>
                                    <span>客户到访状态</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="market-channel-category">
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                    <span>渠道管理</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="new-order-resource-location">
                                    <span class="glyphicon glyphicon-baby-formula"></span>
                                    <span>来源区域管理</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="task-status">
                                    <span class="fa fa-book"></span>
                                    <span>任务状态</span>
                                </a>
                            </li>
                            <li has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                                <a ui-sref="customer-schedule-status">
                                    <span class="fa fa-h-square"></span>
                                    <span>预约状态</span>
                                </a>
                            </li>
                            <li class="dropdown-header">财务部</li>
                            <li>
                                <a ui-sref="payment-type">
                                    <span class="glyphicon glyphicon-signal"></span>
                                    <span>支付方式管理</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="finance-category">
                                    <span class="glyphicon glyphicon-credit-card"></span>
                                    <span>财务项目类别</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="collection-status">
                                    <span class="glyphicon glyphicon-signal"></span>
                                    <span>应收状态</span>
                                </a>
                            </li>

                            <li class="dropdown-header">教务处</li>
                            <li>
                                <a ui-sref="class-status">
                                    <span class="fa fa-book"></span>
                                    <span data-translate="global.menu.entities.classStatus">Class Status</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="class-arrangement-status">
                                    <span class="fa fa-audible"></span>
                                    <span>排课状态</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="class-age-level">
                                    <span class="glyphicon glyphicon-signal"></span>
                                    <span data-translate="global.menu.entities.classAgeLevel">Class Age Level</span>
                                </a>
                            </li>


                            <li class="dropdown-header">运营部</li>
                            <li>
                                <a ui-sref="contract-status">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    <span>合同状态</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="contract-type">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    <span>合同类型</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="contract-nature">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                    <span>合同性质</span>
                                </a>
                            </li>
                        </ul>

                    </li>

                    <!--<li ui-sref-active="active" class="nav-item">-->
                        <!--<a class="nav-link" uib-dropdown-toggle ui-sref="user-guide-document">-->
                            <!--<span class="glyphicon glyphicon-book"></span>-->
                            <!--<span class="hidden-sm">-->
                                    <!--文档-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li uib-dropdown class="nav-item" ng-switch-when="true"
                        has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span>
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <span class="hidden-sm">
                                    系统管理
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span data-translate="global.menu.admin.userManagement">User management</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="region" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                                    <span>校区配置</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="user-guide-document" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                                    <span>用户手册管理</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span data-translate="global.menu.admin.health">Health</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                    <span data-translate="global.menu.admin.audits">Audits</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                    <span data-translate="global.menu.admin.logs">Logs</span>
                                </a>
                            </li>
                            <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                                    <span data-translate="global.menu.admin.apidocs">API</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li uib-dropdown class="nav-item pull-right">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <!--<span class="avatar" style="background-image: url(./../content/images/logo-jhipster.png)"></span>-->
                            <!--<span class="ml-2 d-none d-lg-block">-->
                            <span ng-switch-when="true">{{vm.account.firstName}}</span>
                            <span ng-switch-when="false">登录</span>
                            <!--<small class="text-muted d-block mt-1">{{vm.account.login}}</small>-->
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" style="left: 0" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="settings" ng-click="vm.collapseNavbar()" ng-switch-when="true">
                                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                    <span data-translate="global.menu.account.settings">Settings</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="password" ng-click="vm.collapseNavbar()" ng-switch-when="true">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                    <span data-translate="global.menu.account.password">Password</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="" ng-click="vm.logout()" ng-switch-when="true">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                    <span data-translate="global.menu.account.logout">Sign out</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a href="" ng-click="vm.login()">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                    <span data-translate="global.menu.account.login">Sign in</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                    <span data-translate="global.menu.account.register">Register</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li uib-dropdown class="nav-item pull-right">
                        <a class="nav-link" uib-dropdown-toggle href="">
                            <span class="text-bold text-info" ng-switch-when="true">{{vm.selectedRegion.name}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-arrow" style="left: 0" uib-dropdown-menu>
                            <li ui-sref-active="active" ng-repeat="region in vm.regions track by region.id">
                                <a ng-click="vm.selectRegion(region)">
                                    <span>{{region.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li uib-dropdown class="nav-item pull-right" ng-controller="JhiLanguageController as languageVm">-->
                    <!--<a class="nav-link" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">-->
                    <!--<span>-->
                    <!--<span class="glyphicon glyphicon-flag"></span>-->
                    <!--<span class="hidden-sm" data-translate="global.menu.language">Language</span>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-menu-arrow" style="left: 0" uib-dropdown-menu ng-if="languageVm.languages.length > 1">-->
                    <!--<li active-menu="{{language}}" ng-repeat="language in languageVm.languages">-->
                    <!--<a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
