<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.contractPackage.detail.title">Contract Packages</h1>
</div>
<jhi-alert-error></jhi-alert-error>
<div class="panel">
    <div class="panel-body">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span data-translate="simpleServiceApp.contractPackage.name">Name</span></dt>
            <dd>
                <span>{{vm.contractPackage.name}}</span>
            </dd>
            <dt><span data-translate="simpleServiceApp.contractPackage.code">Code</span></dt>
            <dd>
                <span>{{vm.contractPackage.code}}</span>
            </dd>
            <dt><span data-translate="simpleServiceApp.contractPackage.comments">Comments</span></dt>
            <dd>
                <span>{{vm.contractPackage.comments}}</span>
            </dd>
            <dt><span data-translate="simpleServiceApp.contractPackage.customerCardType">Customer Card Type</span></dt>
            <dd>
                <a ui-sref="customer-card-type-detail({id:vm.contractPackage.customerCardType.id})">{{vm.contractPackage.customerCardType.name}}</a>
            </dd>
            <!--<dt></dt>-->
            <!--<dd>-->
            <br>
            <span class="panel-title">套餐内容</span>

            <button type="submit"
               ng-click="vm.openAddTemplateDialog()"
               class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-new-window"></span>
                <span class="hidden-sm-down">录入新的合同模板</span>
            </button>

            <br>
            <div class="table-responsive panel panel-bordered-primary">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="name"><span
                                data-translate="simpleServiceApp.contractTemplate.name">Name</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="customerCardType.name"><span
                                data-translate="simpleServiceApp.contractTemplate.customerCardType">Customer Card Type</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="contractNature.name"><span
                                data-translate="simpleServiceApp.contractTemplate.contractNature">Contract Nature</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="totalMoneyAmount"><span
                                data-translate="simpleServiceApp.contractTemplate.totalMoneyAmount">Total Money Amount</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="classCount"><span
                                data-translate="simpleServiceApp.contractTemplate.classCount">Class Count</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <!--<th jh-sort-by="totalMinutes"><span data-translate="simpleServiceApp.contractTemplate.totalMinutes">Total Minutes</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                        <th jh-sort-by="totalHours"><span
                                data-translate="simpleServiceApp.contractTemplate.totalHours">Total Hours</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="years"><span
                                data-translate="simpleServiceApp.contractTemplate.years">Years</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="promotionAmount"><span
                                data-translate="simpleServiceApp.contractTemplate.promotionAmount">Promotion Amount</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="createdBy"><span
                                data-translate="simpleServiceApp.contractTemplate.createdBy">Created By</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="createdDate"><span
                                data-translate="simpleServiceApp.contractTemplate.createdDate">Created Date</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedBy"><span
                                data-translate="simpleServiceApp.contractTemplate.lastModifiedBy">Last Modified By</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedDate"><span
                                data-translate="simpleServiceApp.contractTemplate.lastModifiedDate">Last Modified Date</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contractTemplate in vm.contractTemplates track by contractTemplate.id">
                        <td>
                            <a ui-sref="contract-template-detail({id:contractTemplate.id})">{{contractTemplate.id}}</a>
                        </td>
                        <td>{{contractTemplate.name}}</td>
                        <td>
                            <a ui-sref="customer-card-type-detail({id:contractTemplate.customerCardType.id})">{{contractTemplate.customerCardType.name}}</a>
                        </td>
                        <td>
                            <a ui-sref="contract-nature-detail({id:contractTemplate.contractNature.id})">{{contractTemplate.contractNature.name}}</a>
                        </td>
                        <td>{{contractTemplate.totalMoneyAmount}}</td>
                        <td>{{contractTemplate.classCount}}</td>
                        <!--<td>{{contractTemplate.totalMinutes}}</td>-->
                        <td>{{contractTemplate.totalHours}}</td>
                        <td>{{contractTemplate.years}}</td>
                        <td>{{contractTemplate.promotionAmount}}</td>
                        <td>{{contractTemplate.createdBy}}</td>
                        <td>{{contractTemplate.createdDate | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{contractTemplate.lastModifiedBy}}</td>
                        <td>{{contractTemplate.lastModifiedDate | date:'yyyy-MM-dd HH:mm'}}</td>

                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <a type="submit" target="_window"
                                   ui-sref="contract-template-detail({id:contractTemplate.id})"
                                   class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                </a>
                                <button type="submit"
                                        ng-click="vm.openEditTemplateDialog(contractTemplate)"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ng-click="vm.openDeleteTemplateDialog(contractTemplate)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--</dd>-->
        </dl>

        <button type="submit"
                ui-sref="{{ vm.previousState }}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Back</span>
        </button>

        <button type="button" ui-sref="contract-package-detail.edit({id:vm.contractPackage.id})"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
