
<!--<div class="page-header">-->
    <!--<h1 class="page-title">卡列表</h1>-->
<!--</div>-->
<jhi-alert></jhi-alert>
<div class="panel panel-primary panel-bordered-dark">

    <div class="panel-heading">
        <h3 class="panel-title">查询卡列表</h3>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">客户姓名</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.name" placeholder="客户姓名"
                               class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">联系电话</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.contactPhoneNumber" placeholder="联系电话"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">卡类型</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.cardType">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.customercardtypes | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block" type="button" ng-click="pagination.currentPageNumber = 1; vm.loadAll()"><i
                                class="fa fa-search-minus"></i>查询
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-mint btn-block" type="button" ng-click="vm.clearConditions()"><i
                                class="fa fa-trash"></i>清除
                        </button>
                    </div>
                    <div class="col-sm-4" has-any-authority="ROLE_ADMIN,ROLE_RECEPTION,ROLE_HEADMASTER">
                        <button class="btn btn-primary" ui-sref="customer-card.new" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  data-translate="simpleServiceApp.customerCard.home.createLabel">
                        Create new Customer Card
                    </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">流水号</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.serialNumber" placeholder="流水号"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">卡号</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.number" placeholder="卡号"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel">
    <div class="panel-body">

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span data-translate="simpleServiceApp.customerCard.number">Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialNumber"><span data-translate="simpleServiceApp.customerCard.serialNumber">Serial Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span data-translate="simpleServiceApp.customerCard.customer">Customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCardType.name"><span data-translate="simpleServiceApp.customerCard.customerCardType">Customer Card Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signDate"><span data-translate="simpleServiceApp.customerCard.signDate">Sign Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="simpleServiceApp.customerCard.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="simpleServiceApp.customerCard.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="moneyCollected"><span data-translate="simpleServiceApp.customerCard.moneyCollected">Money Collected</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="balance"><span data-translate="simpleServiceApp.customerCard.balance">Balance</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="createdBy"><span data-translate="simpleServiceApp.customerCard.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.customerCard.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.customerCard.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.customerCard.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customerCard in vm.customerCards track by customerCard.id">
                    <td><a ui-sref="customer-card-detail({id:customerCard.id})">{{customerCard.id}}</a></td>
                    <td>{{customerCard.number}}</td>
                    <td>{{customerCard.serialNumber}}</td>
                    <td>
                        <a ui-sref="customer-detail({id:customerCard.customer.id})">{{customerCard.customer.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer-card-type-detail({id:customerCard.customerCardType.id})">{{customerCard.customerCardType.name}}</a>
                    </td>
                    <td>{{customerCard.signDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{customerCard.startDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{customerCard.endDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{customerCard.moneyCollected}}</td>
                    <!--<td>{{customerCard.balance}}</td>-->
                    <td>{{customerCard.createdBy}}</td>
                    <td>{{customerCard.createdDate | date:'yyyy-MM-dd'}}</td>
                    <!--<td>{{customerCard.lastModifiedBy}}</td>-->
                    <!--<td>{{customerCard.lastModifiedDate | date:'yyyy-MM-dd'}}</td>-->


                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-card-detail({id:customerCard.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer-card.edit({id:customerCard.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button class="btn btn-mint btn-sm" ng-click="vm.upgradeCard(customerCard)">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                                <span>升级</span>
                            </button>
                            <button has-any-authority="ROLE_ADMIN" type="submit"
                                    ui-sref="customer-card.delete({id:customerCard.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="text-center">
            <jhi-item-count page="pagination.currentPageNumber" total="pagination.totalItems" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="pagination.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="pagination.currentPageNumber" ng-click="vm.loadAll()"></uib-pagination>
        </div>
</div>
</div>
