<!--<style>-->
<!--.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {-->
<!--padding: 0px!important;-->
<!--}-->
<!--</style>-->
<div class="page-header">
    <h1 class="page-title"></h1>
</div>

<div class="panel panel-primary panel-bordered-dark">

    <div class="panel-heading">
        <h3 class="panel-title">查询新单记录</h3>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="客户姓名" class="form-control"
                               ng-model="vm.searchCondition.name">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="contactPhoneNumber" placeholder="联系电话" class="form-control"
                               ng-model="vm.searchCondition.contactPhoneNumber">
                    </div>

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" name="startDate" placeholder="录入开始日期" class="form-control"
                           ng-focus="vm.openCalendar('startDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.startDate"
                           is-open="vm.datePickerOpenStatus.startDate">

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" placeholder="录入结束日期" class="form-control"
                           ng-focus="vm.openCalendar('endDate')" datetime-picker="{{dateformat}}"
                           ng-model="vm.searchCondition.endDate" is-open="vm.datePickerOpenStatus.endDate">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-block" type="button" ng-click="vm.loadAll()"><i
                            class="fa fa-search-minus"></i>查询
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-mint btn-block" type="button" ng-click="vm.clearConditions()"><i
                            class="fa fa-trash"></i>清除
                    </button>
                </div>

            </div>

            <!-- Second line -->
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">来源渠道</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.channel" placeholder="来源渠道">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.channels | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 form-group">

                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <label class="col-sm-3 control-label">引入人</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.pwi">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (vm.pwis | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                                ng-bind="item.login"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 form-group">
                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <label class="col-sm-3 control-label">销售主管</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.sales">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (vm.sales | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                                ng-bind="item.login"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 form-group">

                </div>
                <div class="col-md-1">
                    <button class="btn btn-info btn-block" type="button"
                            ui-sref="free-class-record.new"><i class="fa fa-plus"></i>新增
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">区域</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.location">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.locations | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel">
    <div class="panel-body">
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-xs-2 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="free-class-record.new">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
                <!--<span data-translate="simpleServiceApp.freeClassRecord.home.createLabel">Create new Free Class Record</span>-->
                <!--</button>-->

                <!--</div>-->
                <div class="col-xs-4" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                    <div class="input-group mar-btm">
                        <ui-select ng-model="vm.selectedUser" placeholder="输入目标用户姓名搜索">
                            <ui-select-match>
                                {{$select.selected.firstName}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.users | filter: $select.search) track by item.id">
                                <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                            ng-bind="item.login"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!--<input type="text" placeholder="输入目标用户姓名搜索" class="form-control">-->
                        <span class="input-group-btn">
					          <button class="btn btn-primary" type="button"
                                      ng-click="vm.batchAssignNewOrder()">批量分配</button>
					    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="fixed-table-toolbar">
                <div class=" btn-group pull-left">
                </div>
                <div class="btn-group pull-right">

                    <span style="display: inline-block">每页显示</span>
                    <select class="form-control" name="itemsPerPage" ng-model="vm.itemsPerPage" ng-change="vm.loadAll()"
                            style="width: 4em; display: inline-block">
                        <option value="10">10</option>
                        <option value="20" selected="selected">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span style="display: inline-block">条</span>
                    <!--<input class="form-control" ng-model="vm.itemsPerPage" style="width: 4em; display: inline-block" ng-change="vm.loadAll()">-->
                </div>
            </div>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center"><input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()">全选
                    </th>
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="personName"><span data-translate="simpleServiceApp.freeClassRecord.personName">Person Name</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPhoneNumber"><span
                            data-translate="simpleServiceApp.freeClassRecord.contactPhoneNumber">Contact Phone Number</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>引入人</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.freeClassRecord.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="status"><span data-translate="simpleServiceApp.freeClassRecord.status">Status</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marketChannelCategory.name"><span
                            data-translate="simpleServiceApp.freeClassRecord.marketChannelCategory">Market Channel Category</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marketChannelCategory.name"><span>区域</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesFollower.login"><span
                            data-translate="simpleServiceApp.freeClassRecord.salesFollower">Sales Follower</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="freeClassRecord in vm.freeClassRecords track by freeClassRecord.id"
                    ng-class="freeClassRecord.selected? 'bg-info': ''">
                    <td class="text-center"><input type="checkbox" ng-model="freeClassRecord.selected"></td>
                    </td>
                    <!--<td><a ui-sref="free-class-record-detail({id:freeClassRecord.id})">{{freeClassRecord.id}}</a></td>-->
                    <td>{{freeClassRecord.personName}}</td>
                    <td>{{freeClassRecord.contactPhoneNumber}}</td>
                    <td>{{freeClassRecord.referer.firstName}}</td>
                    <td>{{freeClassRecord.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <!--<td>{{freeClassRecord.lastModifiedBy}}</td>-->
                    <!--<td>{{freeClassRecord.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>-->
                    <td>{{freeClassRecord.status}}</td>
                    <td>
                        {{freeClassRecord.marketChannelCategory.name}}
                    </td>
                    <td>
                        {{freeClassRecord.newOrderResourceLocation.name}}
                    </td>
                    <td>
                        {{freeClassRecord.salesFollower.firstName}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-class-record-detail({id:freeClassRecord.id})"
                                    class="btn btn-default btn-rounded">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down">查看</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
