<!--<style>-->
<!--.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {-->
<!--padding: 0px!important;-->
<!--}-->
<!--</style>-->
<div class="page-header">
    <h1 class="page-title"></h1>
</div>

<div class="panel panel-primary panel-bordered-dark">

    <div class="panel-heading">
        <h3 class="panel-title">查询新单记录</h3>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="客户姓名" class="form-control"
                               ng-model="vm.searchCondition.name">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="contactPhoneNumber" placeholder="联系电话" class="form-control"
                               ng-model="vm.searchCondition.contactPhoneNumber">
                    </div>

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" name="startDate" placeholder="录入开始日期" class="form-control"
                           ng-focus="vm.openCalendar('startDate')"
                           datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  timepicker-options="vm.datePickerOptions"
                           ng-model="vm.searchCondition.startDate"
                           is-open="vm.datePickerOpenStatus.startDate">

                </div>
                <div class="col-md-2 form-group">
                    <input type="text" placeholder="录入结束日期" class="form-control"
                           ng-focus="vm.openCalendar('endDate')" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"
                           ng-model="vm.searchCondition.endDate" is-open="vm.datePickerOpenStatus.endDate">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-block" type="button" ng-click="pagination.currentPageNumber = 1; vm.loadAll()"><i
                            class="fa fa-search-minus"></i>查询
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-mint btn-block" type="button" ng-click="vm.clearConditions()"><i
                            class="fa fa-trash"></i>清除
                    </button>
                </div>

            </div>

            <!-- Second line -->
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">来源渠道</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.channel" placeholder="来源渠道">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.channels | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 form-group">

                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <label class="col-sm-3 control-label">引入人</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.pwi">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (vm.pwis | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                                ng-bind="item.login"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 form-group">
                    <div has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                        <label class="col-sm-3 control-label">跟单人</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="vm.searchCondition.sales">
                                <ui-select-match>
                                    {{$select.selected.firstName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (vm.sales | filter: $select.search) track by item.id">
                                    <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                                ng-bind="item.login"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 form-group">

                </div>
                <div class="col-md-1">
                    <button class="btn btn-info btn-block" type="button"
                            ui-sref="free-class-record.new"><i class="fa fa-plus"></i>新增
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">区域</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.location">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in (vm.locations | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">客户状态</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.customerStatus">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.customerStatus | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                                <span class="pull-right {{item.cssStyle}}"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 form-group">

                    <label class="col-sm-3 control-label">跟单人分配状态</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.salesAssignStatus">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in (vm.salesAssignStatusList | filter: $select.search) track by item.code">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">数据来源</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vm.searchCondition.sourceType">
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.sourceTypes | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<jhi-alert></jhi-alert>

<uib-tabset>
    <uib-tab heading="回单列表">
        <div ng-include="'app/entities/free-class-record/tab-new-orders.html'"></div>
    </uib-tab>
    <uib-tab heading="批量上传">
        <div ng-include="'app/entities/free-class-record/tab-batch-upload.html'"></div>
    </uib-tab>
</uib-tabset>
