<!--<style>-->
    <!--.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {-->
        <!--padding: 0px!important;-->
    <!--}-->
<!--</style>-->
<div class="page-header">
    <h1 class="page-title" data-translate="simpleServiceApp.freeClassRecord.home.title">Free Class Records</h1>
</div>

<div class="panel">
    <div class="panel-body">
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 no-padding-left">
                    <button class="btn btn-primary" ui-sref="free-class-record.new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-translate="simpleServiceApp.freeClassRecord.home.createLabel">Create new Free Class Record</span>
                    </button>

                </div>
                <div class="col-xs-4">
                    <div class="input-group mar-btm">
                        <ui-select ng-model="vm.selectedUser" placeholder="输入目标用户姓名搜索">
                            <ui-select-match>
                                {{$select.selected.firstName}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.users | filter: $select.search) track by item.id">
                                <span ng-bind="item.firstName"></span><span class="pull-right" ng-bind="item.login"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!--<input type="text" placeholder="输入目标用户姓名搜索" class="form-control">-->
                        <span class="input-group-btn">
					          <button class="btn btn-primary" type="button" ng-click="vm.batchAssignNewOrder()">批量分配</button>
					    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="fixed-table-toolbar">
                <div class=" btn-group pull-left">
                </div>
                <div class="btn-group pull-right">

                    <span style="display: inline-block">每页显示</span>
                    <select class="form-control" name="itemsPerPage" ng-model="vm.itemsPerPage" ng-change="vm.loadAll()"
                            style="width: 4em; display: inline-block">
                        <option value="10">10</option>
                        <option value="20" selected="selected">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span style="display: inline-block">条</span>
                    <!--<input class="form-control" ng-model="vm.itemsPerPage" style="width: 4em; display: inline-block" ng-change="vm.loadAll()">-->
                </div>
            </div>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center"><input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()">全选</th>
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="personName"><span data-translate="simpleServiceApp.freeClassRecord.personName">Person Name</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPhoneNumber"><span
                            data-translate="simpleServiceApp.freeClassRecord.contactPhoneNumber">Contact Phone Number</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span data-translate="simpleServiceApp.freeClassRecord.createdBy">Created By</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.freeClassRecord.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="status"><span data-translate="simpleServiceApp.freeClassRecord.status">Status</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marketChannelCategory.name"><span
                            data-translate="simpleServiceApp.freeClassRecord.marketChannelCategory">Market Channel Category</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesFollower.login"><span
                            data-translate="simpleServiceApp.freeClassRecord.salesFollower">Sales Follower</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="freeClassRecord in vm.freeClassRecords track by freeClassRecord.id" ng-class="freeClassRecord.selected? 'bg-info': ''">
                    <td class="text-center"><input type="checkbox" ng-model="freeClassRecord.selected"></td></td>
                    <!--<td><a ui-sref="free-class-record-detail({id:freeClassRecord.id})">{{freeClassRecord.id}}</a></td>-->
                    <td>{{freeClassRecord.personName}}</td>
                    <td>{{freeClassRecord.contactPhoneNumber}}</td>
                    <td>{{freeClassRecord.createdBy}}</td>
                    <td>{{freeClassRecord.createdDate | date:'medium'}}</td>
                    <!--<td>{{freeClassRecord.lastModifiedBy}}</td>-->
                    <!--<td>{{freeClassRecord.lastModifiedDate | date:'medium'}}</td>-->
                    <td>{{freeClassRecord.status}}</td>
                    <td>
                        <a ui-sref="market-channel-category-detail({id:freeClassRecord.marketChannelCategory.id})">{{freeClassRecord.marketChannelCategory.name}}</a>
                    </td>
                    <td>
                        {{freeClassRecord.salesFollower.firstName}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-class-record-detail({id:freeClassRecord.id})"
                                    class="btn btn-default btn-rounded">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down">查看</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
