<div class="panel">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER,ROLE_RECEPTION">

                    <div class="input-group mar-btm">
                        <ui-select ng-model="vm.selectedUser" placeholder="输入目标用户姓名搜索">
                            <ui-select-match>
                                {{$select.selected.firstName}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (vm.users | filter: $select.search) track by item.id">
                                <span ng-bind="item.firstName"></span><span class="pull-right"
                                                                            ng-bind="item.login"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!--<input type="text" placeholder="输入目标用户姓名搜索" class="form-control">-->
                        <span class="input-group-btn">
					          <button class="btn btn-primary" type="button"
                                      ng-click="vm.batchAssignNewOrder()">批量分配</button>
					    </span>
                    </div>

                </div>

                <div class="col-xs-4" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">
                    <div class="input-group mar-btm">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button"
                                    ng-click="vm.batchAnalysis()">显示批量解析</button>

                            <button class="btn btn-primary"
                                    type="button"
                                    ng-click="vm.batchUpload()">上传</button>
					    </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.showUploadTextArea">
            <div class="form-group">
                <textarea ng-model="vm.textUpload" class="form-control" rows="20" placeholder="粘贴数据CSV内容"></textarea>
            </div>
        </div>
        <div class="table-responsive">
            <div class="fixed-table-toolbar">
                <div class=" btn-group pull-left">
                </div>
                <div class="btn-group pull-right">

                    <span style="display: inline-block">每页显示</span>
                    <select class="form-control" name="itemsPerPage" ng-model="vm.itemsPerPage" ng-change="vm.loadAll()"
                            style="width: 4em; display: inline-block">
                        <option value="10">10</option>
                        <option value="20" selected="selected">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span style="display: inline-block">条</span>
                    <!--<input class="form-control" ng-model="vm.itemsPerPage" style="width: 4em; display: inline-block" ng-change="vm.loadAll()">-->
                </div>
            </div>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center"><input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()">全选
                    </th>
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="personName"><span data-translate="simpleServiceApp.freeClassRecord.personName">Person Name</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPhoneNumber"><span
                            data-translate="simpleServiceApp.freeClassRecord.contactPhoneNumber">Contact Phone Number</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th>学校</th>
                    <th jh-sort-by="createdBy"><span>引入人</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.freeClassRecord.createdDate">Created Date</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.freeClassRecord.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="status"><span data-translate="simpleServiceApp.freeClassRecord.status">Status</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="marketChannelCategory.name"><span-->
                    <!--data-translate="simpleServiceApp.freeClassRecord.marketChannelCategory">Market Channel Category</span>-->
                    <!--<span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="marketChannelCategory.name"><span>区域</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesFollower.login"><span
                            data-translate="simpleServiceApp.freeClassRecord.salesFollower">Sales Follower</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th>备注</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="freeClassRecord in vm.freeClassRecords track by freeClassRecord.id"
                    ng-class="freeClassRecord.selected? 'bg-info': ''">
                    <td class="text-center"><input type="checkbox" ng-model="freeClassRecord.selected"></td>
                    </td>
                    <!--<td><a ui-sref="free-class-record-detail({id:freeClassRecord.id})">{{freeClassRecord.id}}</a></td>-->
                    <td>{{freeClassRecord.personName}}</td>
                    <td>{{freeClassRecord.contactPhoneNumber}}</td>
                    <td>{{freeClassRecord.school}}</td>
                    <td>{{freeClassRecord.referer.firstName}}</td>
                    <td>{{freeClassRecord.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                    <!--<td>{{freeClassRecord.lastModifiedBy}}</td>-->
                    <!--<td>{{freeClassRecord.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>-->
                    <td>{{freeClassRecord.status}}</td>
                    <!--<td>-->
                    <!--{{freeClassRecord.marketChannelCategory.name}}-->
                    <!--</td>-->
                    <td>
                        {{freeClassRecord.newOrderResourceLocation.name}}
                    </td>
                    <td>
                        {{freeClassRecord.salesFollower.firstName}}
                    </td>
                    <td>
                        {{freeClassRecord.comments}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-class-record-detail({id:freeClassRecord.id})"
                                    class="btn btn-default btn-rounded">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down">查看</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <jhi-item-count page="vm.page" total="pagination.totalItems" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="pagination.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="pagination.currentPageNumber" ng-click="vm.loadAll()"></uib-pagination>
        </div>
    </div>
</div>
