
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMarketingNewOrderPlanLabel" data-translate="simpleServiceApp.marketingNewOrderPlan.home.createOrEditLabel">Create or edit a Marketing New Order Plan</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.marketingNewOrderPlan.id">-->
            <!--<label for="id" data-translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="vm.marketingNewOrderPlan.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.year" for="field_year">Year</label>
            <input type="text" class="form-control" name="year" id="field_year"
                    ng-model="vm.marketingNewOrderPlan.year"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.month" for="field_month">Month</label>
            <input type="text" class="form-control" name="month" id="field_month"
                    ng-model="vm.marketingNewOrderPlan.month"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.targetNumber" for="field_targetNumber">Target Number</label>
            <input type="number" class="form-control" name="targetNumber" id="field_targetNumber"
                    ng-model="vm.marketingNewOrderPlan.targetNumber"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.currentNumber" for="field_currentNumber">Current Number</label>-->
            <!--<input type="number" class="form-control" name="currentNumber" id="field_currentNumber"-->
                    <!--ng-model="vm.marketingNewOrderPlan.currentNumber"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.finished" for="field_finished">Finished</label>-->
                <!--<input type="checkbox" name="finished" id="field_finished"-->
                          <!--ng-model="vm.marketingNewOrderPlan.finished"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.createdBy" for="field_createdBy">Created By</label>-->
            <!--<input type="text" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="vm.marketingNewOrderPlan.createdBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.createdDate" for="field_createdDate">Created Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.marketingNewOrderPlan.createdDate" is-open="vm.datePickerOpenStatus.createdDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>-->
            <!--<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"-->
                    <!--ng-model="vm.marketingNewOrderPlan.lastModifiedBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.marketingNewOrderPlan.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.marketingNewOrderPlan.percentage" for="field_percentage">Percentage</label>-->
            <!--<input type="number" class="form-control" name="percentage" id="field_percentage"-->
                    <!--ng-model="vm.marketingNewOrderPlan.percentage"-->
                    <!--/>-->
        <!--</div>-->

        <div class="form-group">
            <label data-translate="simpleServiceApp.marketingNewOrderPlan.user" for="field_user">User</label>

            <ui-select ng-model="vm.marketingNewOrderPlan.user" placeholder="输入目标用户姓名搜索">
                <ui-select-match>
                    {{$select.selected.firstName}}
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.users | filter: $select.search) track by item.id">
                    <span ng-bind="item.firstName"></span><span class="pull-right" ng-bind="item.login"></span>
                </ui-select-choices>
            </ui-select>

            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.marketingNewOrderPlan.user" ng-options="user as user.login for user in vm.users track by user.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
