<div class="page-header">
    <h1 class="page-title">学员列表</h1>
</div>

<div class="panel panel-primary panel-bordered-dark">

    <div class="panel-heading">
        <h3 class="panel-title">查询学员</h3>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">客户姓名</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.customerName" placeholder="客户姓名"
                               class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">学员姓名</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.name" placeholder="学员姓名"
                               class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-sm-3 control-label">联系电话（客户）</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.searchCondition.customerPhoneNumber" placeholder="联系电话"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 form-group">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block" type="button"
                                ng-click="pagination.currentPageNumber = 1; vm.loadAll()"><i
                                class="fa fa-search-minus"></i>查询
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-mint btn-block" type="button" ng-click="vm.clearConditions()"><i
                                class="fa fa-trash"></i>清除
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-info" type="button" ui-sref="student.new"><i
                                class="fa fa-plus"></i>新增学员
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>
<jhi-alert></jhi-alert>

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4" has-any-authority="ROLE_ADMIN,ROLE_HEADMASTER">

                <div class="input-group mar-btm">
                    <ui-select ng-model="vm.selectedClass" placeholder="输入班级搜索">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices multiple repeat="item in (vm.classes | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
					          <button class="btn btn-primary" type="button"
                                      ng-click="vm.batchAssignStudentIntoClass()">分配选中学员进班</button>
					    </span>
                </div>

            </div>

        </div>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center"><input id="email-list-all" type="checkbox" class="magic-checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()"><label for="email-list-all">全选</label>
                    </th>
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span
                            data-translate="simpleServiceApp.student.customer">Customer</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="simpleServiceApp.student.name">Name</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span data-translate="simpleServiceApp.student.phone">Phone</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="simpleServiceApp.student.gender">Gender</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthday"><span data-translate="simpleServiceApp.student.birthday">Birthday</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th>耗课情况</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in vm.students track by student.id" ng-class="student.selected? 'bg-info': ''">
                    <td class="text-center">
                        <input id="email-list-{{student.id}}" type="checkbox" class="magic-checkbox" ng-model="student.selected">
                        <label for="email-list-{{student.id}}"></label>
                    </td>
                    <td><a ui-sref="student-detail({id:student.id})">{{student.id}}</a></td>
                    <td>
                        <a ui-sref="customer-detail({id:student.customer.id})">{{student.customer.name}}</a>
                    </td>
                    <td>{{student.name}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.birthday | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <table class="panel-bordered-primary" ng-if="student.studentClassCounts && student.studentClassCounts.length > 0" style="margin-bottom: 0px;">
                            <thead>
                            <tr>
                                <th>合同号</th>
                                <th>类型</th>
                                <th>总课时</th>
                                <th>已上课时</th>
                                <th>余额</th>
                                <th has-any-authority="ROLE_ADMIN"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="count in student.studentClassCounts track by $index">
                                <td>
                                    {{count.contractNumber}}
                                </td>
                                <td>
                                    {{count.contractType}}
                                </td>
                                <td>
                                    {{count.total}}
                                </td>
                                <td>
                                    {{count.taken}}
                                </td>
                                <td>
                                    {{count.balance}}
                                </td>
                                <td has-any-authority="ROLE_ADMIN">
                                    <button type="button"
                                            ng-click="vm.openEditContractDialog(count)"
                                            class="btn btn-purple btn-sm">
                                        <span class="glyphicon glyphicon-move"></span>
                                        <span class="hidden-sm-down">修改剩余课时</span>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button class="btn btn-dark btn-sm" ng-click="vm.openHistoryLog(student)">
                                <span class="glyphicon glyphicon glyphicon-time"></span>
                                <span>历史记录</span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-detail({id:student.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.lockStudentClass(student)"
                                    class="btn btn-mint btn-sm">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span>冻结</span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.edit({id:student.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.delete({id:student.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="pagination.currentPageNumber" total="pagination.totalItems" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="pagination.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="pagination.currentPageNumber" ng-click="vm.loadAll()"></uib-pagination>
        </div>
    </div>
</div>