
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel" data-translate="simpleServiceApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.product.id">-->
            <!--<label for="id" data-translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="vm.product.id" readonly />-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-5">

                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.product.name"
                    />
                </div>

            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" data-translate="simpleServiceApp.product.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           ng-model="vm.product.code"
                    />
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>班级状态</label>
                    <select class="form-control" name="classStatus" ng-model="vm.product.status" ng-options="status as status.name for status in vm.statusList track by status.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.product.classAgeLevel" for="field_classAgeLevel">Class Age Level</label>
                    <select class="form-control" id="field_classAgeLevel" name="classAgeLevel" ng-model="vm.product.classAgeLevel" ng-options="classAgeLevel as classAgeLevel.name for classAgeLevel in vm.classagelevels track by classAgeLevel.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label data-translate="simpleServiceApp.product.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" ng-model="vm.product.teacher" ng-options="teacher as teacher.name for teacher in vm.teachers track by teacher.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.product.classRoom" for="field_classRoom">Class Room</label>
                    <select class="form-control" id="field_classRoom" name="classRoom" ng-model="vm.product.classRoom" ng-options="classRoom as classRoom.name for classRoom in vm.classrooms track by classRoom.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label data-translate="simpleServiceApp.product.course" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" ng-model="vm.product.course" ng-options="course as course.name for course in vm.courses track by course.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.minutesPerClass" for="field_minutesPerClass">Minutes Per Class</label>-->
            <!--<input type="number" class="form-control" name="minutesPerClass" id="field_minutesPerClass"-->
                    <!--ng-model="vm.product.minutesPerClass"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.planedStartDate" for="field_planedStartDate">Planed Start Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_planedStartDate" type="text" class="form-control" name="planedStartDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.product.planedStartDate" is-open="vm.datePickerOpenStatus.planedStartDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('planedStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.product.comments" for="field_comments">Comments</label>
            <textarea cols="6" type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.product.comments"
                    ></textarea>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.createdBy" for="field_createdBy">Created By</label>-->
            <!--<input type="text" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="vm.product.createdBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.createdDate" for="field_createdDate">Created Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.product.createdDate" is-open="vm.datePickerOpenStatus.createdDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>-->
            <!--<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"-->
                    <!--ng-model="vm.product.lastModifiedBy"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="simpleServiceApp.product.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" timepicker-options="vm.datePickerOptions"  ng-model="vm.product.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
