<ul class="sortable-list tasklist list-unstyled ui-sortable" style="padding: 0px !important;">

    <li class="task-warning ui-sortable-handle">

        <div class="row">

            <div class="col-md-6">
                <p class="text-bold text-main text-sm">排课规则</p>
            </div>
            <div class="col-md-6">
                <button class="btn btn-sm btn-primary pull-right" ng-click="vm.openAddDialog()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        录入排课规律
                    </span>
                </button>
            </div>
        </div>

        <div class="panel panel-bordered-dark">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="targetClass.name"><span
                                    data-translate="simpleServiceApp.classArrangementRule.targetClass">Target Class</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="loopWay.name"><span
                                    data-translate="simpleServiceApp.classArrangementRule.loopWay">Loop Way</span> <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th><span>星期几/几号</span></th>

                            <th jh-sort-by="estimateStartTime"><span
                                    data-translate="simpleServiceApp.classArrangementRule.estimateStartTime">Estimate Start Time</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="estimateEndTime"><span>时长(分钟）</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="estimateStartDate"><span
                                    data-translate="simpleServiceApp.classArrangementRule.estimateStartDate">Estimate Start Date</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th><span>预计结课日期</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="classArrangementRule in vm.classArrangementRules track by classArrangementRule.id">
                            <td><a ui-sref="class-arrangement-rule-detail({id:classArrangementRule.id})">{{classArrangementRule.id}}</a>
                            </td>
                            <td>
                                <a ui-sref="product-detail({id:classArrangementRule.targetClass.id})">{{classArrangementRule.targetClass.name}}</a>
                            </td>
                            <td>
                                <a ui-sref="class-arrangement-rule-loop-way-detail({id:classArrangementRule.loopWay.id})">{{classArrangementRule.loopWay.name}}</a>
                            </td>
                            <td>{{classArrangementRule.countNumber.name}}</td>
                            <td>{{classArrangementRule.estimateStartTime}}</td>
                            <td>{{classArrangementRule.durationMinutes}}</td>
                            <td>{{classArrangementRule.estimateStartDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{classArrangementRule.estimateEndDate | date:'yyyy-MM-dd'}}</td>

                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">

                                    <button type="submit"
                                            ng-click="vm.openEditDialog(classArrangementRule)"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ng-click="vm.generateClassSchedule(classArrangementRule.id)"
                                            class="btn btn-mint btn-sm">
                                        <span class="fa fa-list"></span>
                                        <span class="hidden-sm-down">生成课程表</span>
                                    </button>
                                    <!--<button type="submit"-->
                                            <!--ui-sref="class-arrangement-rule.delete({id:classArrangementRule.id})"-->
                                            <!--class="btn btn-danger btn-sm">-->
                                        <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                        <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                                    <!--</button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <p class="text-bold text-main text-sm">已有排课列表</p>
            </div>

        </div>

        <div class="panel panel-bordered-dark">
            <div class="panel-body">

                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="status.name"><span data-translate="simpleServiceApp.classArrangement.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="startDate"><span data-translate="simpleServiceApp.classArrangement.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="endDate"><span data-translate="simpleServiceApp.classArrangement.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="planedTeacher.name"><span data-translate="simpleServiceApp.classArrangement.planedTeacher">Planed Teacher</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="actualTeacher.name"><span data-translate="simpleServiceApp.classArrangement.actualTeacher">Actual Teacher</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="createdBy"><span data-translate="simpleServiceApp.classArrangement.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="createdDate"><span data-translate="simpleServiceApp.classArrangement.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedBy"><span data-translate="simpleServiceApp.classArrangement.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedDate"><span data-translate="simpleServiceApp.classArrangement.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="classArrangement in vm.classArrangements track by classArrangement.id">
                        <td><a ui-sref="class-arrangement-detail({id:classArrangement.id})">{{classArrangement.id}}</a></td>
                        <td>
                            <a ui-sref="class-arrangement-status-detail({id:classArrangement.status.id})">{{classArrangement.status.name}}</a>
                        </td>
                        <td>{{classArrangement.startDate | date:'yyyy-MM-dd hh:mm'}}</td>
                        <td>{{classArrangement.endDate | date:'yyyy-MM-dd hh:mm'}}</td>
                        <td>
                            <a ui-sref="teacher-detail({id:classArrangement.planedTeacher.id})">{{classArrangement.planedTeacher.name}}</a>
                        </td>
                        <td>
                            <a ui-sref="teacher-detail({id:classArrangement.actualTeacher.id})">{{classArrangement.actualTeacher.name}}</a>
                        </td>


                        <td>{{classArrangement.createdBy}}</td>
                        <td>{{classArrangement.createdDate | date:'yyyy-MM-dd hh:mm'}}</td>
                        <td>{{classArrangement.lastModifiedBy}}</td>
                        <td>{{classArrangement.lastModifiedDate | date:'yyyy-MM-dd hh:mm'}}</td>

                        <!--<td class="text-right">-->
                            <!--<div class="btn-group flex-btn-group-container">-->
                                <!--<button type="submit"-->
                                        <!--ui-sref="class-arrangement-detail({id:classArrangement.id})"-->
                                        <!--class="btn btn-info btn-sm">-->
                                    <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                    <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                                <!--</button>-->
                                <!--<button type="submit"-->
                                        <!--ui-sref="class-arrangement.edit({id:classArrangement.id})"-->
                                        <!--class="btn btn-primary btn-sm">-->
                                    <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                    <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                                <!--</button>-->
                                <!--<button type="submit"-->
                                        <!--ui-sref="class-arrangement.delete({id:classArrangement.id})"-->
                                        <!--class="btn btn-danger btn-sm">-->
                                    <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                    <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
</ul>
