
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAdLabel" data-translate="simpleServiceApp.ad.home.createOrEditLabel">Create or edit a Ad</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ad.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ad.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.ad.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.ad.content"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.rpxWidth" for="field_rpxWidth">Rpx Width</label>
            <input type="number" class="form-control" name="rpxWidth" id="field_rpxWidth"
                    ng-model="vm.ad.rpxWidth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.rpxHeight" for="field_rpxHeight">Rpx Height</label>
            <input type="number" class="form-control" name="rpxHeight" id="field_rpxHeight"
                    ng-model="vm.ad.rpxHeight"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.status" for="field_status">Status</label>
                <input type="checkbox" name="status" id="field_status"
                          ng-model="vm.ad.status"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.sequence" for="field_sequence">Sequence</label>
            <input type="number" class="form-control" name="sequence" id="field_sequence"
                    ng-model="vm.ad.sequence"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.ad.comments"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="simpleServiceApp.ad.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.ad.createdBy"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
