<div class="page-header">
    <h1 class="page-title"data-translate="simpleServiceApp.ad.home.title">AD</h1>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary" ui-sref="ad.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  data-translate="simpleServiceApp.ad.home.createLabel">
                        Create new Ad
                    </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="type"><span data-translate="simpleServiceApp.ad.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="content"><span data-translate="simpleServiceApp.ad.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="rpxWidth"><span data-translate="simpleServiceApp.ad.rpxWidth">Rpx Width</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="rpxHeight"><span data-translate="simpleServiceApp.ad.rpxHeight">Rpx Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="status"><span data-translate="simpleServiceApp.ad.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="sequence"><span data-translate="simpleServiceApp.ad.sequence">Sequence</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="comments"><span data-translate="simpleServiceApp.ad.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="createdBy"><span data-translate="simpleServiceApp.ad.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ad in vm.ads track by ad.id">
                            <td><a ui-sref="ad-detail({id:ad.id})">{{ad.id}}</a></td>
                            <td>{{ad.type}}</td>
                            <td>{{ad.content}}</td>
                            <td>{{ad.rpxWidth}}</td>
                            <td>{{ad.rpxHeight}}</td>
                            <td>{{ad.status}}</td>
                            <td>{{ad.sequence}}</td>
                            <td>{{ad.comments}}</td>
                            <td>{{ad.createdBy}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="ad-detail({id:ad.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="ad.edit({id:ad.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="ad.delete({id:ad.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-5">-->
        <!--<uib-carousel>-->
            <!--<uib-slide ng-repeat="ad in vm.ads track by ad.id">-->
                <!--<img src="{{ad.content}}" />-->
                <!--<img src="{{ad.content}}" style="margin:auto;" />-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>{{ad.status}}</h4>-->
                    <!--<p>{{ad.comments}}</p>-->
                <!--</div>-->
            <!--</uib-slide>-->
        <!--</uib-carousel>-->
    <!--</div>-->
</div>
